[2014-11-05 18:41] tswicegood opened #11 "Add tab-completion to conda env command"

[2014-11-07 20:00] tswicegood opened #14 "Extract the export functionality into the installers code"
Each installer should be responsible for figuring out how to export its packages.

[2014-11-07 20:04] tswicegood opened #16 "Include channels in exported data"
Should be able to include the `channels` data for any conda packages that were installed from a particular channel.

[2014-11-18 17:49] srossross opened #23 "Integrate conda-env with conda-build and cas-installer"
It would be great to define a recipe with a an environment file that specifies the dependencies.

For example, if I had the directory structure:
[code]

Then I would be able to do `conda env create conda.recipe` for development. Or I can do `conda build conda.recipe` and the resulting package would have all of the correct conda deps + the extra environment instructions.

I would also like to be ab

[2014-11-21 07:12] tswicegood opened #27 "Allow multiple types of lookups when trying to find an environment"
Currently it only looks for a local file in the current working directory or explicitly via `--file`.  Would be nice to allow plugins to add other lookups such as GitHub, URLs, Binstar, and so on.

[2014-11-25 19:03] tswicegood opened #28 "Allow `source activate` to work without an environment when an environment.yml file is present"
The idea is to check to do something like `conda env info --name` that would read the environment file then output the name.  This could be used inside `source activate` to supply the environment name instead of simply errorring out.

[2014-12-10 17:21] tswicegood opened #38 "Check for `environment.yml` file in multiple locations"
Currently, if `--file` is not specified `conda env` commands assume that you meant the `environment.yml` file located in the current directory.  Change it to look in the following locations:

* `./conda.recipe/environment.ya?ml`
* `./environment.ya?ml`

[2014-12-16 19:32] chdoig opened #40 "conda env update"
When working with conda env, I've sometimes encountered that there are new packages in my environment.yml file and I want to update my environment with those. It would be nice to have a `conda env update` command that could do that for you, without having to remove and create a new one.

[2015-01-08 19:41] chdoig opened #42 "Command to get an environment.yml to share with someone"
Currently, the environment.yml file allows you to not specify a concrete version/build of the package, so if there are updates in that package and I share my environment.yml file with someone, they might get a different environment (different versions of the package), that might not be compatible. Although I could re-write the environment.yml to precisely specify the correct versions, it would be

[2015-01-08 23:10] tswicegood commented on #42
@chdoig does `conda env export --name=some-env` do what you need?  By default, it outputs a dependency list that's pinned to the explicit version and build string.  Issue #15 calls for adding a non-strict mode where you can export just versions or package names instead of the full spec.

[2015-01-09 17:58] chdoig commented on #42
I found the issue why export wasn't working for me: I had some packages from a binstar user or organization and `conda env export` doesn't add channels in the env.yml. I'll close this issues and open a more appropriate one. Thanks!

[2015-01-09 19:25] srossross opened #43 "Add Description field to environment"
It would be great to be able to add `description` and/or `README` fields to the environment file. This would be very useful on binstar as well as `conda-env list` e.g.
[code]

[2015-01-09 23:21] tswicegood commented on #43
I like this idea, but I think it's best suited toward after a merge with `conda`.  Right now it would require either PRs to both repos or adding new meta data into the environment that's only present in certain situations.  That would essentially fork what an environment is.

[2015-01-09 23:31] srossross commented on #43
That makes sense

[2015-01-12 22:12] tswicegood commented on #40
This is now released as of 1.4.0 thanks to @aterrel.

[2015-01-12 22:12] #40 closed

[2015-01-23 01:38] chdoig commented on #42
So, I'm reopening this issue because `conda env export` as is it is right now isn't fully letting me share my environment across operating systems (e.g OSX -> Linux64), for example in the Topic_Space project (https://github.com/ContinuumIO/topic_space/issues/7).

So, all the full list of what's in my environment might be platform specific, but what I've manually wanted to install to that environme

[2015-01-27 15:38] sotte opened #48 "Automatically activate conda environment when entering a folder"
Hey,

I used [virtualenv_auto_activate.sh](https://gist.github.com/search?q=virtualenv-auto-activate.sh) to automatically activate virtualenvs when entering a folder that contained a ".venv" folder (which is how I store virtualenvs).

I wrote a similar script for conda:
https://gist.github.com/sotte/8fb92dff17264c7a2a85

Maybe you guys are interested in a fleshed out version of this!?

[2015-01-28 16:50] asmeurer opened #49 "basename: illegal option -- b"
I am getting this error every time I source activate or deactivate

[code]

The activation and deactivation seem to work correctly.

[2015-01-28 18:36] bkreider opened #50 "unix "pipe" semantics"
Can we change the command-line behavior to be compliant with standard unix tools and read from stdin by default or a specified file?   This lets you use HERE documents and pipes if you want to script this without adding the problems of temporary files.

[code]

[2015-01-28 18:47] bkreider commented on #38
Please take a look at #50.  I don't think --file should be used in create or export.  Let a user use normal unix semantics to specify an optional input or output file and use stdin/stdout by default.

[2015-01-28 21:22] tswicegood commented on #38
@bkreider I'll respond to the stdin behavior in #50.  Regarding this issue, it's related to what this looks for by default when `--file` is not used.

[2015-01-28 21:25] tswicegood commented on #50
@bkreider I like this idea, but I would do it with the following tweak: in the absence of a `--file`, I think we should perform the following checks:

* Attempt to read `sys.stdin`
* Attempt to read `environment.ya?ml`
* Attempt to read `conda.recipe/environment.ya?ml`

If all of those fail, then let the user know that it's failed.

All that said, I do think we should probably ditch the `--file` i

[2015-01-28 22:05] bkreider commented on #50
I don't think you can attempt to read sys.stdin.  You block on sys.stdin until there is input, which I think is ok, because explicit is better.

[2015-01-28 22:07] tswicegood commented on #50
@bkreider though untested, this is the first thing I found when looking to see how to test stdin: http://stackoverflow.com/a/17735803.  We can't assume that it will always be there because this type of piping may not be available on all platforms.

[2015-01-28 22:29] tswicegood commented on #42
I like the idea of only dealing with things that are explicitly installed.  Let's talk about this next week when I'm in the office and try to figure out a solution.

[2015-01-28 22:34] asmeurer commented on #42
A reminder that conda does keep track of this in the history file.

[2015-01-29 00:11] bkreider commented on #50
I don't think you want to assume that tty means there is data to read on stdin.  If you don't want to read from stdin a filename is required.

[2015-01-29 13:14] aterrel commented on #50
Personally, I think this request goes against the nature of a conda env.

What you want can be naturally achieved with the conda install command. Conda env, IMHO, is there to build reproducible environments. Having the env.yml file shows exactly how that env was built. Without a file to show how an env was built, there isn't a lot of reason for the env command here.

[2015-02-02 20:55] bkreider commented on #50
@aterrel Doesn't that mix policy with implementation?   I'd like clarification that conda-env is limiting itself only to reproducible environments and not setting itself up as the canonical way to manage wholesale environments. There is nothing forcing you to use stdin instead of -f, just like most people use tar with existing directories or archives.   Most people will use a file to define their

[2015-02-05 22:21] tswicegood commented on #50
@aterrel I think this is an ok thing to add.  I don't think it should be the first-class way of doing it, but I think offering support is an ok thing.

@bkreider what are your thoughts about `cat env.yml | conda env create --file -` and using the `-` option as a way to denote that it should read from stdin?  I've seen that somewhere, git maybe?

[2015-02-05 22:33] aterrel commented on #50
@bkreider okay makes sense to me.

[2015-02-06 00:08] tswicegood commented on #49
@asmeurer are you still seeing this?

[2015-02-06 04:37] bkreider commented on #50
Tar uses `-` to represent stdin.  I prefer the standard unix was of defaulting to stdin, but as long as the functionality is there it's down to style.  I'm assuming that "export" will let you do the same thing as tar like this does:

[code]

[2015-02-06 17:21] asmeurer commented on #49
Nope.

[2015-02-06 17:21] #49 closed

[2015-02-06 17:22] tswicegood commented on #49
Awesome! :tada:

[2015-02-13 18:12] asmeurer opened #56 "conda env with no arguments"
[code]

[2015-02-13 18:41] tswicegood commented on #56
That's weird.  I added in code to make that default to `--help`.  Let me see what happened.

[2015-02-13 19:48] asmeurer commented on #56
I've seen this kind of error before, so maybe there needs to be some checking in `args_func`.

[2015-02-13 19:51] tswicegood commented on #56
So I did fix it, just not on a branch that ever got released: see https://github.com/conda/conda-env/pull/17/files#r20045117.

That's not the exact fix for `conda-env` right now, but I've got something in the works.  Will have 2.1.2 out in a little bit.

[2015-02-13 20:08] #56 closed

[2015-02-20 17:27] remram44 opened #59 "activate.bat totally doesn't work with paths"
[code]
[In activate.bat](https://github.com/conda/conda-env/blob/616e3ddc6380f781e4dd586a0499676fcf0a8cf3/bin/activate.bat#L23):
[code]

[2015-02-20 17:32] tswicegood commented on #59
Hi @remram44.  Yeah, we're definitely aware of that and it's unfortunately never worked like that on Windows (even back in the pre-`conda-env` days).  It's definitely on our radar as something to fix so it has the same level of features as the OS X/Linux implementations.  I've added the labels bug and enhancement because this sits between -- it's technically a bug because it's a missing feature, b

[2015-02-20 19:26] remram44 commented on #59
I took a look at a bunch of stackoverflow questions and made the changes to the batch scripts. Not sure why you were holding out on this, did I miss something? In any case, someone should proofread very carefully.

----

Using an explicit path is the first thing that came to my mind. Why would I want to use global states if I can have my environments right next to my code? This is not what Vagrant

[2015-02-20 21:44] amfarrell opened #61 "Allow `conda env create` and `conda env update` to add a channel to an environment."
I can run `conda config --file environment.yml --add channels http://kts02:8000` to add a custom channel to an environment.yml file. When I run `conda env create --name foo --file environment.yml` using that file, conda env should see the
[code]
in environment.yml and should add that channel to the list of channels that this environment can install from. That way, if a client has an internal conda

[2015-02-20 23:16] tswicegood commented on #59
@remram44 -- thanks for submitting PR #60.  I'll take a look as soon as I can.  I'm pretty strapped for the rest of the day, but should be able to get to it early next week.  The reason we haven't applied any of the various fixes is just a matter of having the bandwidth to test all of the various possible routes across all Windows versions that we support (we go back to Windows XP!).

---

That ma

[2015-02-20 23:31] tswicegood commented on #61
Using `conda config` is the wrong tool here.

Other than that, though, I'm not sure what you're asking for.  There's already a `channels` attribute for `environment.yml` files -- I was going to link to an example showing that behavior, but I apparently don't have any.  At any rate, `channels` support has been in conda-env for awhile (at least v1.3, but I think it was there before that).

Here's an

[2015-02-22 03:32] amfarrell commented on #61
I was actually confused about a part of this. Running `conda env create --file env.yml` on a file like this works, however, if I run `conda install mocha`, I get "Error: No packages found in current osx-64 channels matching: mocha", despite the mocha package for osx being in that channel. This means that the environment itself does not have a channel attached, it just builds itself from the given

[2015-02-22 03:35] amfarrell commented on #61
Unrelatedly, if I run `conda env create --file env.yml`, on that a file with those actual contents I get the error "Could not find some dependencies for bower: iojs"

[2015-02-23 13:14] andreas-h opened #62 "BUG: activate-deactivate cycle doesn't leave $PATH unchanged"
After activating and de-activating a conda environment, my `$PATH` is not the same as before:

    $ echo $PATH
    /home2/hilboll/bin:/home2/hilboll/scripts:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games
    $ source pyenv/bin/activate ./pyenv/
    discarding /home2/hilboll/anaconda/bin from PATH
    prepending /home2/_home/hilboll/prj/2014_no2trends-indi

[2015-02-25 23:54] tswicegood commented on #62
Thanks for the note @andreas-h.  This is definitely a bug, but one that doesn't actually surprise me.  The way `deactivate` was originally written was from a point-of-view where the conda root bin directory (`~/anaconda/bin`) is always on the PATH so it should be returned.

[2015-02-25 23:59] tswicegood commented on #61
@amfarrell try it again.  There was an issue with the `iojs` package.

[2015-03-20 21:16] asmeurer opened #63 "activate should export an environment variable with the full path to the environment"
I've had a couple people request this. `CONDA_DEFAULT_ENV` is not what they want because they want a full path.

[2015-03-20 21:17] asmeurer commented on #63
Alternately, we should add `conda info --default-env`. Parsing `conda info --json` is not something people should be doing from the shell.

[2015-03-20 21:46] tswicegood commented on #63
Hmm.  I can see both options as a good way to do this.  Having an environment variable is nice as it's available all sub-processes as well, though.  What to call it is the question.  At first pass, `CONDA_CURRENT_PREFIX` comes to mind.

I'd prefer not to use `DEFAULT` in the name because no matter how technically correct, it's confusing.  There's certain baggage that comes along with that word.

[2015-03-20 21:48] bkreider commented on #63
I have a good use case for this.  The openssl commands i put into FD last week.  I'd like to do something like this for non-python binaries that have data in the $PREFIX:
[code]

[2015-03-23 13:33] tdhopper commented on #63
@tswicegood: `default` would be consistent with the existing `CONDA_DEFAULT_ENV` and `conda info --default-prefix`.

[2015-03-23 15:15] tswicegood commented on #63
@tdhopper yeah -- what this should be is something more like `VIRTUAL_ENV`.  We might even simply do `CONDA_ENV`.  Actually, thinking along those lines, how about `CONDA_ENV_PATH`?

---

Regarding the use of default, I hope to start phasing it out.  I've yet to meet any developer who wasn't confused by it because the term has so much implicit meaning.  If you know the technical implementation of C

[2015-03-23 15:25] tdhopper commented on #63
I like `CONDA_ENV_PATH`.

[2015-03-23 23:49] jni opened #65 "Feature request: ability to create hierarchical dependent environments"
Cross-posted from conda/conda#1209

I like to use separate environments for my various projects, and various *branches* of various projects. However, I also like to keep my environments updated (except for the odd testing against older dependency versions). Currently, if e.g. scikit-image gets a new version, I have to go into each environment and `conda update scikit-image`. It would be cool if I

[2015-03-27 11:31] mattions commented on #61
When re-exporting an environment the information about the channels get lost and they shouldn't
Can we change `conda env export` to check if there is an environment and combine the channels information?

[2015-04-01 18:08] tswicegood commented on #61
@mattions that's reasonable.  That said, updating `conda env export` to be channel aware would solve the problem as any packages that were installed from channels would trigger adding channels.

I think there's a slightly different path here in that you export and then modify your channels you want those modifications to stay in place.  Do you see a case where you'd want channels added that might

[2015-04-01 18:24] asmeurer opened #67 "source activate runs with all shell aliases and functions"
Because of the way source works, if someone has a shell alias of function defined that shadows a command used in `activate` or `deactivate`, it will be used instead. This can cause issues if it breaks what the command is expected to do.

I don't know if there is a way to run a sourced script in it's own "namespace". One suggestion would be to be more careful with all commands used using `command`

[2015-04-01 18:27] tswicegood commented on #67
Interesting.  Should probably be doing that, but man... if you aliased `find` to something else that doesn't play nicely with other scripts and/or its default invocation I imagine you can't hardly get anything done in your shell that you didn't write.

[2015-04-01 18:29] asmeurer commented on #67
I think this is only a problem for scripts that are sourced. If you run `bash script.sh`, bash isn't going to source your bash_profile.

[2015-04-02 09:02] mattions commented on #61
Hi,

my usercase would be to keep the channels in the environment, and to not add new one.
The user should be in charge of that, because adding other channels, and the order of the channels, could change which package is picked by conda (it resolves dependencies in a first found first used fashion).

This is my workflow:

my environment:
[code]

I update a packages
I would like to do
`conda env ex

[2015-04-02 17:51] tswicegood commented on #61
@mattions that makes sense.  There's another scenario that I'd like to support as well, though I think these are two separate things.

* User edits `environment.yml` file to add channels, those are given priority
* User installs a new package with `conda install -c some-new-channel some-package` and the next export now contains this channel.

[2015-04-02 18:27] mattions commented on #61
Sure, I honestly think first option is what I really need, the second one
would be a nice top up.
On 2 Apr 2015 18:51, "Travis Swicegood" <notifications@github.com> wrote:

[2015-04-07 19:00] sotte commented on #48
I turned my little script into a proper github repo:
https://github.com/sotte/conda_auto_activate

I'll close this issue.

[2015-04-07 19:00] #48 closed

[2015-04-09 00:59] tswicegood commented on #48
Nice work @sotte!  Sorry I missed this ticket when it first came in.

[2015-04-09 07:34] sotte commented on #48
No problem, just keep up the great work with conda! :)

[2015-04-09 15:00] gdementen commented on #65
+1 for something like this. An alternative would be to have a concept of a group of environments that I can update together. Or better yet, be able to tag environments (ie overlapping groups). So that I can say update numpy to latest version in all my "edge" environments (currently I have 4 of those -- combinations of 32/64 & py2/py3).

[2015-04-09 15:03] gdementen opened #70 "make "conda env create" match "conda create""
It is kinda surprising that you can do everything related to environments using `conda env ...`, except create them, yet you have a create command... So I think it should mirror what is possible using "conda create"

I think `conda create` should even be deprecated but that will probably be a tough sell ;-).

[2015-04-09 15:11] ccordoba12 commented on #70
Yes, I also agree with this change. It's counterintuitive not being able to use `conda env create` to create an environment as it's done with `conda create`

[2015-04-10 07:13] tswicegood commented on #65
Interestingly enough, this exact topic came up at dinner tonight here at Pycon.  Let me think about this for a bit.  I definitely think it has a place in conda-env.

[2015-04-10 08:37] jni commented on #65
Woot! =) Lots of design/interface choices to make for this, but I'm excited to see how it comes out! =)

[2015-04-10 15:58] ccordoba12 commented on #65
@tswicegood, should we close the related conda issue?

[2015-04-13 19:45] tswicegood commented on #65
@ccordoba12 sure.

[2015-04-13 20:52] tswicegood opened #71 "conda env export / conda env create roundtrip doesn't work for dev packages"
_From @cjw296 on April 12, 2015 14:0_

To reproduce:

[code]

The problematic line is in the pip section created by "conda env export":

[code]

_Copied from original issue: conda/conda#1270_

[2015-04-13 20:52] tswicegood commented on #71
_From @cjw296 on April 13, 2015 20:47_

@tswicegood - this is one that will prevent me using environment.yml, my most common used case would be:

[code]

...but my environment.yml *would* contain at least one package (the one in the checkout ;-)) that would need to be installed with `pip install -e .`

[2015-04-13 20:59] tswicegood commented on #71
Sorry for the spam @cjw296 -- just wanted to get this in rigth place.

---

This is a problem I had't thought of.  `environment.yml` is generally meant for working with packages that have been distributed.  Do you have to do `pip install -e .` on the current code, or is a simple `python setup.py develop` enough to make it work for you?  I can see how this would be useful for packages that are dist

[2015-04-13 21:08] cjw296 commented on #71
What's the difference between `pip install -e .` and `python setup.py develop`?

I do, on occasion, need to do `pip install -e .[feature1,feature2,]` which is the pathalogical case.

your 'options' suggestion is interesting but feels like extra knowledge would be needed. Having the pip section basically be a requirements.txt would be the way I would expect it to work.

I'm also totally okay with h

[2015-04-13 21:26] tswicegood commented on #71
As far as I'm aware, I believe they are identical.  @ilanschnell, @asmeurer, @srossross: do you guys know of any other differences?

----

In thinking about this, I do like the idea of supporting requirements files.  If we go that route we push all of that complexity off to pip but if we add the develop mode then we own that.

[2015-04-22 17:28] tswicegood opened #72 "Add a --name-only option to `conda env list`"
Per conversations in Flowdock, there's a request for `conda env list --names-only` that wouldn't show the path.

[2015-04-23 21:20] tswicegood opened #74 "Add support for selectors in dependencies"
Currently, dependencies are simple string specification.  Some packages are only required for certain operating systems, versions of Python, and so on.  conda-build solves this problem with [selectors][1], however this presents several limitations:

* Not parseable as strict YAML
* Potential name collision when loading without a pre-processing step (problem presented to other users)

## Solution
T

[2015-04-27 16:26] gmarkall opened #75 "FileNotFoundError when running `conda help`"
Just installed conda env (first with `conda install conda-env`, then with `conda install -c conda conda-env`, but that didn't result in a different version getting installed anyway).

Now running `conda help` results in a traceback part-way through the output:

[code]

`conda help` worked just before I installed conda-env. Output of `conda info` (in case it's relevant):

[code]

[2015-04-27 23:50] malev opened #76 "Replace conda.error_and_exit for a runtime exception"
https://github.com/conda/conda-env/pull/73#discussion_r29202296

[2015-04-28 21:49] malev opened #77 "Upload environments to binstar.org"
The syntax should be like:
[code]

[2015-05-06 15:07] dan-blanchard commented on #50
[argparse also supports using `-` to represent stdin.](https://docs.python.org/dev/library/argparse.html#argparse.FileType)

You shouldn't have to even change any code to get `cat env.yml | conda env create --file -` to work.

[2015-05-06 16:01] kpurdon commented on #61
+1 for both of those options, but at the minimum not clobbering existing channels when doing an export to update dependencies.

[2015-05-06 22:13] Zaharid opened #79 "Python 2 environment destroys python 3 conda installation"
If I have a root conda environment working with python 3 and I do:

[code]
Where environment.yml contains a Python 2 environment, ie

[code]

Then everything gets completely destroyed, for example:

[code]

[2015-05-11 19:04] ryanpdwyer commented on #71
I would also find this feature really useful!

[2015-05-15 19:04] amfarrell opened #81 "conda env update can result in conda.plan.nothing_to_do(actions) being True when there are actually pip packages to install"
To reproduce:
[code]

I added djrill to my environment.yml (https://github.com/OpenSourcePolicyCenter/webapp/blob/mailchimp/environment.yml), activated an environment named heroku_aei, and ran `conda env update --file environment.yml`.
I saw the response

   Fetching package metadata: ....................
   Solving package specifications: .# TODO handle more gracefully

This also happens when I r

[2015-05-15 21:19] tswicegood commented on #79
This is a broader issue with conda.  For example, if you had python 3 installed then did:

[code]

You would end up in the same state.  I agree that this is a problem (see https://github.com/conda/conda/issues/1268 for one of the latest bug reports on this), but I think it should be handled at the conda level, not conda-env.  Otherwise, this package will handle installation different than conda do

[2015-05-15 21:22] tswicegood commented on #81
Yup -- that'd do it. The original create code requires that something get installed and update was just a copy-n-paste of that.  Any interest in taking a stab at handling the no-action case more gracefully?

[2015-05-15 21:25] asmeurer commented on #79
conda-env is doing something less than conda here, though. If you change Python versions in the root environment with `conda install` then conda itself will still work, because conda always includes itself in the root environment specs.

Everything else will break though because the Python 2 versions of the packages will still be installed. https://github.com/conda/conda/issues/454 is sort of the

[2015-05-15 21:35] amfarrell commented on #81
Is it supposed to also do that if there are pip packages to install but no conda packages to install?

[2015-05-17 18:57] amfarrell commented on #81
I think that the poor handling of the no-action case is actually a separate issue. The problem here seems to be that it falsely thinks that this is the no-action case.

[2015-05-18 02:21] amfarrell commented on #81
For a more minimal environment.yml, see
https://github.com/amfarrell/react-tutorial/blob/64f98941c8eafdf7ee12ad125addb86c8c5702fe/environment.yml
and then
https://github.com/amfarrell/react-tutorial/blob/680f51f73da70b7ae1768aa9ea61b125194135e2/environment.yml

[2015-05-18 15:35] danielballan opened #82 "BUG: CONDA_ENV_PATH does not behave as expected"
If I understand the intent of #80, `$CONDA_ENV_PATH` should point the "root" directory of the currently-activated environment. As implemented, it always points to the root miniconda directory.

With conda-env master installed in my root environment...

[code]

...I create a new environment...

[code]

...activate it...

[code]

...and for the environmental variable to be not what I expect:

[code]

[2015-05-27 13:54] campos-ddc opened #83 "Feature request: recursively process other environment.yml files, and add support for setting environment variables"
Hi, first of all, thank you for your work in conda/conda-env, these tools are looking great!

Small preface, this feature request might have some relation with #65 and #21.

# Problem
In the company I work for (https://github.com/ESSS), we have the following development process:

* We have many external libraries dependencies, installing them via `conda` works just fine, since they are packages av

[2015-05-27 20:43] campos-ddc commented on #83
If its any use, I made a first scratch on what an implementation for this would look like:

https://github.com/ESSS/conda-env/commits/develop

[2015-05-29 18:05] tswicegood commented on #83
This is an interesting idea.  Definitely open to a PR.

One note, the environment variable code you're after can already be done by a package that adds files to `$PREFIX` at `etc/conda/activate.d/` and `etc/conda/deactivate.d`.  For *nix systems, they should be `.sh` files and for Windows they should be `.bat` files.  With that, normal activate/deactivate on each platform will pick those up.

[2015-05-29 18:35] campos-ddc commented on #83
@tswicegood yes, that is the way I went.

If you see that branch I linked, I gave up on using and `environment:` tag, in favor of activate/deactivate scripts (which I merely link in `activate.d`/ `deactivate.d` when creating an environment).

I did run into an issue because I had to make those as symlinks instead of hardlinks, otherwise my `.sh` script cannot find the base path for my development

[2015-06-01 17:10] campos-ddc commented on #72
Assuming this is to be used with bash pipes, perhaps `--porcelain` (as used by git) would also be a good name.

[2015-06-03 17:49] campos-ddc opened #87 "No module named "binstar_client""
I recently tried to build the development version of `conda_env` and ran into this missing module when trying to run `conda env create`.

It seems to be related to the recent addition of 'upload' commands.

Will `binstar` be a mandatory dependency of `conda_env`? If so, shouldn't it be declared in `conda.recipe/meta.yml`?

[2015-06-04 03:05] koverholt opened #89 "Install newly added pip packages on conda env update"
If I `conda env update`, then any conda packages that were added to the environment.yml file will be installed, but any pip packages that were added will not be installed.

Is is possible that the `conda env update` command could also check for added pip packages and install them? I use conda env to deploy environments for projects, and this functionality would ensure that a `conda env update` wou

[2015-06-04 04:23] malev opened #90 "No feedback after uploading an environment"

[2015-06-04 06:09] malev commented on #87
`binstar` should not be a dependency but the error is happening:
[code]

[2015-06-04 17:04] #90 closed

[2015-06-04 17:04] #87 closed

[2015-06-04 20:24] Juanlu001 commented on #61
I was about to report a new issue regarding the `conda env export` behavior, but @mattions already expressed my same concerns in https://github.com/conda/conda-env/issues/61#issuecomment-86906881. When you export an environment which contains packages coming from non-official channels, that information gets lost and another user cannot use the resulting `environment.yml` to reproduce your environm

[2015-06-07 17:34] #77 closed

[2015-06-09 13:24] campos-ddc opened #96 "Why use platform specific packages for conda-env?"
The current recipe and `setup.py` create different packages for windows/unix:

[code]

[code]

Is there a reason for this, other than distributing 2 less files? Maybe some platform specific dependency I don't know about?

If there isn't any other motive, I think that we should distribute a single 'noarch' package, instead of having to create two different ones.

Thoughts?

[2015-06-09 16:50] chdoig commented on #89
+1 This just happened to me today.

[2015-06-10 18:47] branning opened #97 "`conda env export` does not include channels information"
It seems that if you have installed conda packages from anything but the main channel, then you cannot create an environment from the output of `conda env export` due to the fact that the channel information is not included in the YAML output.

I'm using conda-env 2.2.1 with conda 3.13.0 with python 2.7.9 32-bit on Windows 7 64-bit. Here's a minimal example:

[code]

If you run that, and you can i

[2015-06-15 21:38] malev opened #98 "`conda env upload` scary error"
when uploading an environment already uploaded conda-env displays an ugly error message:
[code]

[2015-06-16 01:39] ahmadia opened #101 "conda create env has no force parameter"
Sometimes I don't want to update my environment, I just want to make sure the environment is what I say it is.  That means I need to be able to run `conda create env --force`, which should remove any existing environments and run the create.  See https://github.com/memex-explorer/memex-explorer/pull/580#issuecomment-112255568

[2015-06-16 21:56] malev commented on #101
@ahmadia there is a PR about this https://github.com/conda/conda-env/pull/102

[2015-06-16 21:56] malev commented on #98
Should be fixed in `2.2.2` release

[2015-06-16 21:56] #98 closed

[2015-06-16 21:57] #76 closed

[2015-06-16 21:58] malev commented on #96
Maybe @ilanschnell can help with this

[2015-06-16 22:02] ilanschnell commented on #96
Apart from this difference, there are other differences in the conda-env packages for different systems and Python versions.  Since conda-env is a core dependency of conda, it would not be wise to build noarch packages for conda-env.

[2015-06-17 14:08] campos-ddc commented on #96
Well, I guess you have your reasons.

Feel free to close this if you wish.

[2015-06-17 23:27] jim22k opened #105 "`conda env create --name` is broken"
I want to create an environment from an existing environment.yaml file, but I want a different name for the environment than is listed in the file.

`conda env create --name custom_name` is broken and gives the following message:

    --name is deprecated. Use the following command instead:
        conda env create custom_name

Typing the recommended command doesn't work. It just does `conda env c

[2015-06-17 23:55] joelhullcio commented on #105
@jim22k +1
The error is introduced by conda-env 2.2.0.   Important to note that the removal of this feature BROKE CLIENT SCRIPTS AT JPM.  We need to have a strong commitment to backward compatibility.  In addition, deprecation means a feature is going to be removed in the future but it should still work.  However, why would this feature be deprecated?  This is removing valuable functionality.  Don

[2015-06-18 00:25] teoliphant commented on #105
@tswicegood Can you shed light on why this interface changed?

[2015-06-18 01:02] malev commented on #105
we change it to support creating environments from anaconda.org. Working on a fix right now

[2015-06-18 16:45] tswicegood commented on #105
@teoliphant the interface was changed to decrease the friction for creating a remote environment.  Writing out `conda env create --name tswicegood/foobar` seems off.  The intent here was to deprecate `--name`, not remove its functionality.  That was a regression as it was supposed to only display the warning that it was no longer the proper way, but would still work.

[2015-06-18 18:46] malev opened #107 "conda env create malev/stats not working in py3"
[code]

For some reason `NormalizedVersion` is mutable therefore it can't be a a dictionary key as in  https://github.com/conda/conda-env/blob/develop/conda_env/specs/binstar.py#L84

[2015-06-18 19:19] #96 closed

[2015-06-18 19:21] malev commented on #81
Is this somehow related to #89 ?

[2015-06-18 19:29] amfarrell commented on #81
yes, this is the same bug as #89

[2015-06-18 19:30] amfarrell commented on #89
This is the same issue as #81

[2015-06-18 19:31] amfarrell commented on #81
The message when there is genuinely nothing to install happens to be less-than-clear, but that is a different, less impactful problem.

[2015-06-18 20:26] #107 closed

[2015-06-19 15:19] joelhullcio opened #109 "Add conda env path command"
To determine the conda env path in a bash script I do this:
[code]

A conda env path command would be great to have instead
[code]

[2015-06-19 15:47] malev commented on #109
Some people asked for something similar to this, they want to be able to list only names:
[code]
I guess we could easily have `--only-prefix` as well:
[code]
And more specific:
[code]

My question is, where would this be useful?

[2015-06-21 17:46] malev commented on #105
The fix has been merged, waiting the anaconda team to proceed with the release of `2.2.3`. I'm hoping tmr it will be done.

[2015-06-22 16:45] malev commented on #105
@jim22k could you update your `conda-env` and try again?

[2015-06-22 17:45] jim22k commented on #105
Just tried with conda-env v2.2.3 and it works. Thanks for the fast turnaround.

[2015-06-22 19:24] #105 closed

[2015-06-24 16:26] asmeurer opened #112 "Shellcheck errors with activate and deactivate"
There are several [shellcheck](http://www.shellcheck.net/about.html) errors in activate and deactivate. Some are not actual issues, since environments can't have spaces, but they should all be fixed. I think at least [one](https://github.com/conda/conda/issues/1371) is causing an error.

[2015-06-27 23:16] Locky1138 commented on #81
+1 Also dealing with this issue

I'm trying to use conda env to deploy the environment for an application, and adding anything that requires pip breaks the deployment script.

[2015-06-29 19:15] tdhopper commented on #82
Thanks @campos-ddc. I just realized `CONDA_ENV_PATH` only seems to work when I activate the environment twice in a row, and I was going to try to fix.

[2015-07-03 11:00] danielballan commented on #82
Thanks @tdhopper and @campos-ddc.

[2015-07-08 19:12] remram44 commented on #59
Ran into this again today. Is conda-env dead or am I just on some blacklist? This is really frustrating. Anyone please say anything.

[2015-07-08 19:23] campos-ddc opened #115 "%LIBRARY_BIN% not added to %PATH% when activating an environment in Windows"
From what I can see, activating an environment in Windows will add the following directories to `%PATH%`:

* `%PREFIX%`
* `%PREFIX%/Script` (or `%SCRIPTS%` during the build process)

But `%PREFIX%/Library/bin` (or `%LIBRARY_BIN%` during the build process) is *not* added.

Is this intentional?

[2015-07-08 19:46] campos-ddc opened #117 "activate.bat while in another environment mangles %PROMPT%"
Calling `activate.bat` while in another environment will correctly remove the old environment from `%PATH%`, but it does not fix `%PROMPT%`

This leads to cases like this:

[code]

[code]

[code]

[2015-07-10 20:17] joshowen opened #122 "Can't install pip library if it depends on numpy"
Example environment.yml:
[code]

Example:
[code]

[2015-07-10 20:24] campos-ddc opened #123 "Pick particular build when declaring dependencies"
There is a good chance that I'm missing something, but I think I'm not able to pick a particular build when declaring dependencies in environment.yml

I would assume that the syntax would be similar to `conda create`, something like this:

[code]

[2015-07-14 14:15] campos-ddc opened #124 "`conda.install.rm_rf` can't delete old environments in Windows + Python 2.7"
This issue hit me when trying to use `--force` option in `conda env create` (I added this in #102), and it revealed a possible problem with how conda handles links in Windows + Python 2.7.

# Symptom

Trying to delete an environment (not active) from within Python fails because the original file being linked is locked by Windows.

# Context

* Windows
* Python 2.7 (`os.islink` does not work here,

[2015-07-14 14:16] campos-ddc commented on #124
Not sure if I should post this in `conda` or `conda-env`, since the problem seems to lie in `rm_rf`, but its `conda_env` calling it.

[2015-07-14 18:09] malev commented on #101
we do have:
`conda env create --force`
Is that ok?

[2015-07-14 18:13] malev commented on #124
@campos-ddc in the example you are using `conda` at first glance looks like this problem belongs to `conda`. Thanks for reporting!

[2015-07-14 18:13] campos-ddc commented on #124
Should I move it there?

[2015-07-14 18:26] ahmadia commented on #101
Perfect, thanks.

[2015-07-14 18:26] #101 closed

[2015-07-16 04:14] jlmaccal opened #129 "Activating environment does not remove root from PATH"
Running on OS X 10.10.4 with zsh.

Create a new environment with `conda create -n test python`.

Results before sourcing environment:
[code]

Results after running `source activate test`:

[code]

Note that the root `anaconda/bin` directory is still in the path. This causes problems when running, e.g. `ipython`, which is not installed in the `test` environment. Instead, it finds the root version,

[2015-07-16 20:28] jlmaccal commented on #129
I was able to resolve this. It was caused by a typo and OS X's case-insensitive file system.

The path was `/users/...` instead of `/Users/...`. Because the file system is case-insensitive, this worked to set the path, but condo's logic for detecting and removing the root path failed because the case didn't match.

[2015-07-16 20:28] #129 closed

[2015-07-17 09:51] ashkarin opened #130 "Bug with an environment activation"
Hi,

it seems that there is a bug:
https://github.com/conda/conda-env/blob/develop/bin/activate
[code]
In my case (OpenSuse 13.1), this prefix does not exists due to "/...", but it works fine if:
[code]

[2015-07-19 20:50] synapticarbors opened #131 "Ampersand in Windows PATH breaks activate"
I recently was testing setting up a conda environment on a Windows machine and after creating the environment, attempts to activate the environment failed as follows:

[code]

The output of the latter command was:

[code]

The environment activates, but then a bunch of things are broken and `where conda` comes up with nothing (same with `activate`,  `deactivate` and a few other things that should

[2015-07-20 13:42] synapticarbors commented on #131
I'm not a Windows expert, but it seemed like putting double quotes around the `set` statement seemed to fix things:

[code]

Although I'm not sure if (1) there are unintended consequences introduced by doing that, and (2) if this should be done in other places as well. I also found mentions of using `enabledelayedexpansion` to deal with special characters in variables.

[2015-07-21 20:08] #117 closed

[2015-07-21 20:54] #131 closed

[2015-07-21 22:52] wulmer commented on #59
I had patched the old conda (from the pre conda-env days) and had a pull request ready (https://github.com/conda/conda/pull/913), but before @asmeurer could merge it, all those activate scripts had been moved to conda-env.
Since then, my pull request is just waste and all the work lost :-(
I would work on activate again, but currently, I can't even make the conda-env tests work as I am still under

[2015-07-21 23:53] remram44 commented on #59
It's okay, I have a PR that should be up to date. No one will review it though, it's been sitting there for 5 months.

[2015-07-22 17:21] malev commented on #59
@remram44 not, conda-env is not dead. If check this link: https://github.com/conda/conda-env/commits/develop you'll find that I've been reviewing PRs. I just haven't had the chance to review yours. Sorry for the inconvenience

[2015-07-23 19:43] malev commented on #11
Since #133 has been merged, we may have tab-completion in the next release

[2015-07-23 19:51] malev commented on #75
This is working now

[2015-07-23 19:51] #75 closed

[2015-07-23 19:54] malev commented on #79
You can't name a new environment with the same name as the root environment.
[code]

[2015-07-23 19:54] #79 closed

[2015-07-23 19:55] malev commented on #89
Will start working on this soon

[2015-07-23 21:23] malev commented on #97
There is more conversation about this in #103
Also we are considering expanding the way `export` works to include from what channel was `X` package installed. Still a thinking about this

[2015-07-23 21:25] malev commented on #130
Thanks for reporting this, I'll take a look

[2015-07-23 21:28] malev commented on #123
@campos-dcc the syntax is:

[code]

[2015-07-23 21:28] malev commented on #123
if that answer your question, please close this issue. tnx

[2015-07-23 21:30] #123 closed

[2015-07-23 21:32] malev commented on #42
@chdoig can you tell me what were you thinking about this? tnx

[2015-07-23 21:33] malev commented on #43
I'll mark this as `wontfix` and close for now

[2015-07-23 21:34] #43 closed

[2015-07-23 21:43] malev commented on #28
I think think this is happening anymore

[2015-07-23 21:43] #28 closed

[2015-07-24 02:21] ijstokes opened #135 "upload needs an option to increment version"
Right now if I change my environment the only option I appear to have w.r.t. Anaconda Server is to use the `conda env upload --force` option to force overwrite it ("Replace existing environment definition" according to `conda env upload -h`).  I would very much like instead to be able to upload and auto-increment the version number.

[2015-07-24 02:25] ijstokes opened #136 "conda update needs a way to update from a remote env definition"
I created a conda env by using `conda env create ijstokes/weather_py34` to fetch an env definition from http://anaconda.org/ijstokes/foo.  A few days later `ijstokes/weather_py34` has been updated on the server, and now I want to update my local env to match.  I'd like to do `conda env update ijstokes/weather_py34`.  This seems reasonable, but doesn't appear to be possible.

[2015-07-24 03:18] malev commented on #136
Great idea!

[2015-07-24 03:19] malev commented on #135
:+1:

[2015-07-24 09:25] ijstokes opened #137 "pip package problems with underscore "_" and dash "-" in pkg name"
`conda env export` produced:

[code]

I do not know how conda came to think there was a `pip` installed version.  What causes `conda env` to identify packages as `pip` installed?  Is it the presence of an egg file?  If so, the egg file `rope_py3k-0.9.4_1-py3.4.egg-info` is inside the `anaconda` channel package here:

https://anaconda.org/anaconda/rope/0.9.4/download/osx-64/rope-0.9.4-py34_1.tar.bz

[2015-07-24 09:48] ijstokes opened #138 "Default behavior of `conda env create` should be to satisfy dependencies"
I'd like to have an environment file which is either hand-built or created by `conda env export` and then trimmed to the minimum set of *actual* required packages for an environment, then allow `conda env create`, invoked possibly at a later point, by another person, on another architecture, to interpret it as an alternative form of `conda create -n foo $(cat environment.yaml)` (you get the idea -

[2015-07-24 09:55] ijstokes commented on #137
Perhaps related, `conda env export` is identifying my `anaconda` installed package `sphinx-rtd-theme` as being a `pip` package as well.

[code]

then results in the warning message:

[code]

[2015-07-24 11:45] chdoig commented on #42
@malev, I like the idea of being able to export just what you have explicitly installed in the environment. It probably should not be the default, but passing an option in the ```conda env export command```. I don't have ideas for the name of the option.

[2015-07-24 15:03] malev commented on #42
@chdoig, for now I have no idea how to do that and I think it's gonna be easier/better to have people creating their own `environment.yml` files on their own.

[2015-07-24 15:43] malev commented on #137
Thanks for reporting. I've been able to reproduce the problem. I'll dig more later

[2015-07-24 15:51] malev commented on #138
YES!
I'm working on something like that! I'm not sure how useful is `conda env export` at the moment and how much can we improve it. I rather have something hand-build like:

[code]

Where the dependencies are handled by conda when creating or updating the environment.

[2015-07-24 22:03] malev commented on #115
In what situation would you need that? As far as I know, when you run `conda-build` the build process happens in a complete isolated environment, independent from the environment that you are using.

[2015-07-24 22:36] campos-ddc commented on #115
This is not related to conda-build, I just think that this path should be set because all unix-like packages will put their executables in Library/bin when installed in Windows.

We need this for our git and vtk packages, there may be more, but I don't remember them right now.

[2015-07-25 00:08] malev commented on #115
I'm not aware of that situation. Maybe you should use post-activate scripts in order to achieve this custom solution

[2015-07-25 01:19] malev commented on #89
So far, the problem is related to this abrupt `sys.exit(1)`
https://github.com/conda/conda-env/blob/develop/conda_env/installers/conda.py#L15-L17

[2015-07-25 01:22] malev commented on #16
There is some work related to this in #103

[2015-07-25 01:25] malev commented on #23
@srossross if  you already have the environment.yaml then why don't you just run:
`conda env create -f conda.recipe/environment.yml` ?
Or the magic will happend when you run `conda build conda.recipe` ?

[2015-07-25 01:25] malev commented on #23
I feel like we could have something like:
`conda env create -n my-env conda.recipes/requirements.txt`
That is actually pretty easy to do

[2015-07-25 01:26] malev commented on #27
Already done!

[2015-07-25 01:26] #27 closed

[2015-07-25 05:51] malev commented on #124
yes please. Closing here

[2015-07-25 05:51] #124 closed

[2015-07-25 05:59] malev commented on #122
@joshowen the problem seems to be `dedupe`'s version. Closing for now

[2015-07-25 05:59] #122 closed

[2015-07-25 22:49] malev commented on #63
We already have `CONDA_ENV_PATH` working everywhere but windows.
There is a patch coming for windows #139

[2015-07-30 01:14] malev commented on #138
@ijstokes I think that `conda env create` should install exactly what is listed in the `environment.yml` file.
On the other hand, I believe the problem is how we create the file. If we use `conda env export` we will have a behavior similar to `pip freeze` which might not be the best solution.
I'm adding documentation about how to define the env file in https://github.com/conda/conda-env/blob/featu

[2015-07-30 02:48] malev commented on #14
This is already happening

[2015-07-30 02:48] #14 closed

[2015-07-30 03:22] malev opened #145 "New environment format"
Thinking of a new structure for `environment.yml` and trying to capture the spirit of #16, #103, #97 and #15. I'm considering changing the structure into something like:

[code]
I'm also considering adding the capability of having `jinja2` template, for instance to install specific packages for a OS.

On the other hand `conda env export` should work with the following flags:
  * `--non-strict`
  *

[2015-07-30 17:12] malev commented on #145
Consider using `conda.config.canonical_channel_name(url)` and [conda specs](http://conda.pydata.org/docs/spec.html#package-match-specifications)

[2015-07-31 15:49] alanhdu opened #147 ""conda env list --json" output environment names"
It'd be nice if `conda env list --json` returned the environment names, along with their paths.

Maybe something like:
[code]
instead of
[code]

[2015-07-31 16:36] malev commented on #147
sounds good, but what would be the usage of that? (thanks for reporting)

[2015-07-31 17:34] alanhdu commented on #147
My particular use case was provisioning some VMs with conda (I wanted to check whether certain environments were already created to avoid overwriting existing environments). Eventually, I just checked for the existence of `/opt/conda/env/<name>`, but it'd be nice to check the name exactly.

OTOH, you can have multiple environments w/ the same name, so maybe I should just be checking for the path e

[2015-08-04 07:08] steckerhalter opened #149 "environment.yml pip and git"
With pip it's possible to use something like: `pip install git+https://github.com/Kozea/WeasyPrint@master`

I tried this in `environment.yml` but it caused an error:

[code]

Is this possible somehow?

[2015-08-04 09:54] dusans commented on #149
I use git like this and it works. Notice the #egg=...

[code]

[2015-08-04 10:06] dusans commented on #149
Also as a side note. If you create an issue and say there is an error... you should copy paste the error message.
We can only guess what your error could be.

[2015-08-04 11:42] steckerhalter commented on #149
the "error" was: `# TODO handle more gracefully` that's why I didn't paste it...

I still get the same "error". Notice that above I'm trying to specify the branch (master). But trying to run the above example I also get `# TODO handle more gracefully`

Maybe I have to update conda-env? It seem to be integrated into conda now. Do I need to upgrade conda itself or is this not the same conda-env?

[2015-08-04 11:52] steckerhalter commented on #149
I removed the env now and recreated it. Now it worked with the egg added. Quack!

Thanks for your help

[2015-08-04 11:52] #149 closed

[2015-08-05 04:40] groutr commented on #115
I agree.  I think it would be nice to have %LIBRARY_BIN% in the path.  A lot of packages put binaries and other utilities in this bin directory.

[2015-08-05 17:34] joshowen commented on #81
Is there an ETA on this being fixed?  Trying to decide if we can use conda in our environment, which will still rely on pip working.

[2015-08-07 15:31] malev commented on #81
I'm on vacations now, but I'm guessing sometime next week

[2015-08-07 15:32] malev commented on #81
@joshowen, next week hopefully

[2015-08-07 17:57] bkreider commented on #109
Wait, is this for the current $PREFIX or for any named env path?  I think most needs are for the current path.  This was implemented in conda-env as an environment variable.  https://github.com/conda/conda-env/issues/63.  CONDA_ENV_PATH.  I've never used it but that looks like what you are looking for.

[2015-08-08 10:56] ijstokes commented on #63
I'm worried there is something broken with this functionality.  Notice how `$CONDA_ENV_PATH` is totally confused through the sequence of operations I do below:

[code]

[2015-08-08 18:45] Locky1138 commented on #81
@malev thanks for the update, i'll be happy to run some testing to confirm the fix once its done.

[2015-08-08 22:07] malev commented on #149
@steckerhalter so far conda-env does not support that kind of installations

[2015-08-09 09:02] steckerhalter commented on #149
@malev Thanks, I think it worked ok after I had removed the env, but in the meantime WeasyPrint has released a new version with all the fixes included so I can use the normal method again

[2015-08-10 16:31] malev commented on #147
@alanhdu it sounds like a very specific use case. To be honest, don't think I'll prioritize this for now. You are welcome to submit a PR

[2015-08-10 16:32] #147 closed

[2015-08-10 23:34] malev commented on #61
I'm moving this conversations into #145. Closing now

[2015-08-10 23:34] #61 closed

[2015-08-10 23:40] malev commented on #23
Not sure what's going on here. Closing

[2015-08-10 23:40] #23 closed

[2015-08-10 23:42] malev commented on #38
Not sure if we need this anymore.

[2015-08-10 23:42] #38 closed

[2015-08-11 17:21] #135 closed

[2015-08-11 20:09] #82 closed

[2015-08-11 21:24] malev opened #154 "Allow `--file` flag in attach command"
If you have a curated `environment.yml` file you don't want to just `attach` an environment into your notebook, you want to attach the curated file into it.

[2015-08-11 21:26] malev commented on #112
http://www.shellcheck.net/

[2015-08-11 21:27] malev commented on #109
Not sure what to do here so I'm closing

[2015-08-11 21:28] malev commented on #74
Thinking on having jinja templates to solve this

[2015-08-11 21:28] #74 closed

[2015-08-11 21:29] malev commented on #70
Don't think this is going to happen, sorry.

[2015-08-11 21:29] #70 closed

[2015-08-11 21:41] #136 closed

[2015-08-11 21:41] #89 closed

[2015-08-11 21:41] #81 closed

[2015-08-11 21:42] #11 closed

[2015-08-11 21:43] malev commented on #63
`CONDA_DEFAULT_ENV` should be working on 2.4.0

[2015-08-11 21:43] #63 closed

[2015-08-11 22:50] malev opened #155 "Environments support channel"
[code]
Can be parsed as: `numpy` from channel `malev`

[2015-08-12 03:05] koverholt opened #156 "Error when using `conda env create/update` (2.4.0)"
I upgraded to conda-env 2.4.0, but I get the following error when I run `conda env create` or `conda env update` on an environment file that worked with 2.3.0:

[code]

[2015-08-12 17:15] joelhullcio commented on #109
@malev looks like I missed your question above.
This functionality is helpful when writing scripts that manage envs, deploy packages and/or work with conda in general.  Often times in a script the name of env only is known but in order to update perform various operations on it the full path to the env is needed.  Since envs prefixes can exist anywhere on the system it would be best to get the pre

[2015-08-12 17:40] malev commented on #109
@joelhullcio thanks! will work on this

[2015-08-13 01:32] malev commented on #156
Fixed in `2.4.1`

[2015-08-13 01:32] #156 closed

[2015-08-13 01:40] koverholt commented on #156
Thanks! Verified that this works in conda-env 2.4.1.

[2015-08-13 01:41] koverholt commented on #89
Nice! Verified that this is working in conda-env 2.4.1.

[2015-08-13 10:49] frol opened #158 "Conda-create downgrades Python 3 to Python 2"
I have a MIniconda3 setup with Python 3.4.3 and when I try to create a new conda environment with Python it wants to install Python 2.7.10 for some weird reason:

[code]

It used to work correctly a week ago. I tried to downgrade `conda` and `conda-env` packages with no luck. My guess is that something wrong happened with continuum.io/free/pkgs index.

Do you have any ideas on what have happened?

[2015-08-13 11:08] frol commented on #158
Here is a Dockerfile where I can reproduce the issue:

[code]

[2015-08-13 12:35] frol commented on #158
@asmeurer Is this also the instance of https://github.com/conda/conda/issues/1338

[2015-08-13 13:04] frol commented on #158
I digged into our Jenkins logs and discovered that it used to work YESTERDAY.

It worked just fine at Aug 12, 2015 10:47 AM PDT and 20 minutes later, at Aug 12, 2015 11:06 AM PDT, it went using Python 2.7.10 instead of Python 3.4.3!

[2015-08-13 15:51] malev commented on #158
@frol at first glance looks like you should be running:
`conda create -p /tmp/env` (remove the python)
Could you try that please?

[2015-08-13 16:35] frol commented on #158
@malev It never worked for me this way because I don't have anything in condarc by default:

[code]

[2015-08-13 16:37] frol commented on #158
@malev If I add python to `create_default_packages`, it still tries to install Python 2.

[2015-08-13 16:42] malev commented on #158
conda create -p /tmp/env python=3.4

[2015-08-13 20:11] joelhullcio commented on #109
@malev thank you.  Also, if the env doesn't exist, return an empty string and exit with a successful status (0).  Do not output an error message or exit with an error status if the env doesn't exist.  An error message or exit status complicates using this feature in scripts.

[2015-08-13 22:06] malev commented on #158
@frol this is not a bug from conda-env. I'm gonna close this issue

[2015-08-14 07:15] frol commented on #158
@malev `conda install python`, and `conda update python`, and `conda update --all` don't downgrade `python`. It used to work without setting explicit version just two days ago. However, I have noticed that `conda create` doesn't seem to be a part of conda-env, which is unexpected... I will put this bug in conda project then.

[2015-08-14 17:50] malev commented on #158
yes! `conda create` belongs to `conda`.

[2015-08-14 17:50] #158 closed

[2015-08-14 18:36] phobson opened #159 "Windows 8.1 pip not properly placed in the path"
### Problem
When I activate an environment, `pip` commands fall back to the version installed in the default environment

### Expectation
Past behavior leads me to expect that the top-level `pip` come the currently active environment.

### Example
[code]

But reverting to an *old* environment created some time ago:

[code]

### System
Windows 8.1
[code]

### Furthing conda info (default env)
[code

[2015-08-14 18:56] phobson commented on #159
It appears that `pip.exe` is not being added to the Scripts directory:

### Test environment
[code]

### Default environment
[code]

[2015-08-19 23:40] malev opened #162 "Missing closing parenthesis"
https://github.com/conda/conda-env/blob/develop/conda_env/cli/main_create.py#L65

[2015-08-24 19:07] mikecroucher opened #163 "CONDA_ENVS_PATH is ignored by activate.bat on Windows"
The environment variable CONDA_ENVS_PATH is documented at  http://conda.pydata.org/docs/install/central.html

The documentation suggests doing something like
``set CONDA_ENVS_PATH=C:\Users\joe\envs;C:\Anaconda\envs``

The ``conda create`` command respects this variable -- new environments will be installed to ``C:\Users\joe\envs``.

Unfortunately, the ``activate.bat`` script doesn't check this env

[2015-08-25 13:54] hovren commented on #42
I just wanted to echo that I too would find it convenient with some option to create a "shareable" environment with conda.

Actual example: I created a linux-64 environment that consisted of pretty much only 'matplotlib', 'scipy' and 'numpy'. I exported that using `conda env export` and gave to my coworker who use osx-64. Him trying to recreate that environment failed for a number of reasons:

- S

[2015-08-26 15:09] benbovy opened #165 "Allow disable pip cache while creating new conda environments"
I successfully created several environments using, e.g., the following commands,

    $ conda env create -n production -f production.yml
    $ conda env create -n testing -f testing.yml
    $ ...

the yaml files all containing some packages to install with pip (e.g., uwsgi).

However, running uwsgi using the 2nd+ created environments failed with the following error:

    ImportError: /home/lava/mi

[2015-08-26 17:18] malev commented on #165
@benbovy thanks for reporting. I'll take a look

[2015-09-02 18:58] bkreider commented on #145
Please keep it yaml.  If you add templating, it's hard to create these files and use standard yaml tools.

Breaking out the type of packages makes it harder to distinguish other top-level fields from possible package managers.   I'd keep it nested under "dependencies" so you don't close off future additions while allowing anyone to add new package managers (ie: specifying a package manager right n

[2015-09-02 19:17] goanpeca commented on #145
:+1: on  @bkreider suggestion!

[2015-09-03 18:25] ihuston commented on #42
I've just encountered the same problem as @hovren but in the opposite direction.

I tried to create a minimal environment containing just scipy (and dependencies) and share that from OSX to Linux (Ubuntu Trusty 14.04).

Here are the packages installed on OSX:
[code]

If I do the same minimal install of scipy on Linux (Ubuntu Trusty 14.04) I get this list of installed packages:
[code]

The differen

[2015-09-04 15:52] ahmadia opened #166 "Programmatic way to get the name of a created environment"
I'm in a situation where I need to know what the environment in an environment.yml is named.  Is there a way to do this now in conda-env?  If not, can we add it?

[2015-09-04 15:56] ahmadia commented on #166
Using: `sed -n 's/name:[[:space:]]*//p' environment.yml` as a workaround, but it ain't pretty.

[2015-09-18 00:45] ahmadia opened #167 "conda-env create doesn't work if there is no prefix argument"
This looks like a regression in the interaction with conda:

[code]

[code]

[2015-09-18 00:47] ahmadia opened #168 "Conda env is incompatible with the current conda release"
I think there are interactions with the `prefix` argument for package installation that are causing major failures in `conda-env`.  I think we need to get these fixed and push out a bug fix release.

[2015-09-18 00:49] ahmadia commented on #168
I don't have time to look deeper into this, but I'm seeing errors like this:

[code]

It looks like `prefix` isn't being populated by the conda env installer before it attempts to use it.

[2015-09-19 17:57] pzwang opened #169 "Typo in error message"
In https://github.com/conda/conda-env/blob/develop/conda_env/specs/notebook.py#L23

[2015-09-21 18:47] ahmadia commented on #168
This happens with an `environment.yml` that doesn't contain a `name` parameter.  Revising the issue name.

[2015-09-21 18:53] ahmadia commented on #167
closely related to https://github.com/conda/conda-env/issues/168

[2015-09-21 19:10] ahmadia commented on #168
The solution is to add a `name` key to your environment.yml.

[2015-09-21 19:55] malev commented on #168
@ahmadia can you post here your `environment.yml` file? I've tried with the latest versions and worked fine for me

[2015-09-21 19:59] malev commented on #169
Fixed in #170

[2015-09-21 19:59] #169 closed

[2015-09-21 20:03] ahmadia commented on #168
@malev

[code]

[2015-09-21 20:04] #162 closed

[2015-09-22 15:50] ahmadia commented on #155
+1

[2015-09-23 20:26] malev commented on #155
As much as I'd love to have this feature working, first we would need some changes into conda

[2015-09-23 20:29] ahmadia commented on #155
Agreed, let's chat about this when I'm in Austin.

[2015-09-29 19:12] #59 closed

[2015-09-29 19:23] remram44 opened #173 "activate.bat on Windows should check conda environment directories"
Now that #60 is merged, conda can activate an environment by its full path on Windows. However @wulmer mentioned that relative paths and named environments living in one of the envs_dirs (listed in .condarc) is not possible; it should be addressed at some point.

I have no plan to do this myself currently, so anyone can jump in.

[2015-09-29 20:07] yoavram commented on #173
I used your `activate.bat` (by downloading it and running it) for a relative path and it worked fine.

[2015-09-29 20:08] hale commented on #145
How about a section for platform specific dependencies?

(I'm not sure how this could be determined by `condo env export`, but it would be nice to have a way of creating a config file that could be used to recreate the environment on any platform.)

(Maybe this isn't necessary if `conda env export` only includes top-level dependencies.)

[2015-09-29 20:11] yoavram commented on #145
Also note that if the environment was created on a path (using the `-p` option), the name of the environment in the environment.yml file is the full path (`D:\workspace\project\venv`) which breaks the cross-platform feature.

[2015-09-30 18:46] bkreider opened #174 "code smell: pip.py - import conda_args directly from conda.pip instead of indirectly importing"
Why does pip.py do this import rather than get it from the original file?  It's actually only getting pip_args, because conda.cli.main_list has imported conda.pip.conda_args.
[code]

Instead of importing main_list, it should be this:
[code]

[2015-09-30 19:14] koverholt opened #175 "TypeError with conda-env 2.4.2 and Python 3"
This works with Python 2, but the below error occurs with Python 3.

Failed command:

[code]

Version:

[code]

Env file I was attempting to upload:

[code]

[2015-10-01 20:32] malev commented on #175
@koverholt my first guess is that you are using python 3 and but in your environment.yml file you have python 2 listed as a dependency. I'm gonna take a look anyway

[2015-10-01 21:18] koverholt commented on #175
This happens whether I specify `python=2` or `python=3`. Why would the version of Python specified in the `environment.yml` file affect the `conda env upload` command?

[2015-10-01 21:59] malev commented on #175
you are right, I don't know why I read `update`. Taking a look

[2015-10-05 18:43] ijstokes opened #177 "conda env broken"
I am not sure who to ask about conda env. Until we have a replacement, it seems like this is something we need to keep supporting and keep working. Right now it does not appear to work. The following sequence, which is one of the primary use cases (if not the primary use case) seems to be broken due to invalid characters in the auto-gen version:

[code]

results in:

[code]

[2015-10-12 16:16] msarahan commented on #115
We will do this.  Re-opening this so it doesn't get lost.

[2015-10-12 19:59] malev commented on #115
@msarahan what about https://github.com/conda/conda-env/blob/develop/bin/activate.bat#L59 ?

[2015-10-12 20:03] msarahan commented on #115
Yes, this should fix things for the most part.  There's still some potential for things to be different during package building.  I guess I just want to keep this open until I have tested it all and know that it is completely working.

[2015-10-12 22:07] malev commented on #177
@ijstokes working here. Am I doing something wrong?
[code]

[2015-10-13 19:51] msarahan opened #179 "Conda-env should not be installable outside of the root miniconda/anaconda installation"
Otherwise, Activate.bat on Windows behaves very poorly, and you lose the ability to deactivate back to root environment

[2015-10-14 14:55] jolos opened #180 "Pypi tarball doesn't contain activate.bat"
Installing conda-env on windows using pip fails because the tarball ( https://pypi.python.org/pypi/conda-env/2.4.2 ) doesn't contain activate.bat.

A workaround is to install it using:

pip install git+git://github.com/conda/conda-env.git@v2.4.2#egg=conda-env

[2015-10-14 15:39] malev commented on #179
as far as I know, `conda-env` is a hard dependency of `conda` therefore you must have conda-env installed in the root environment as soon as you finish installing conda. After that you don't need to install conda-env again and you shouldn't install it in an environment other than the root env.
Maybe we can add a script that verifies where are you installing conda-env and shows you an error if you

[2015-10-14 15:42] msarahan commented on #179
yes, it shouldn't need to be installed, but it is getting picked up automatically in my development (see https://github.com/conda/conda/issues/1705).  This is causing a lot of confusion.

[2015-10-14 15:56] malev commented on #179
@msarahan you are taking about a PR for conda-env. which one is that?

[2015-10-14 16:09] SlaterByte opened #181 "Bash "set -u" exits with error when activating env"
$CONDA_OLD_PS1 is not set when activating outside of any conda env. When included in a Bash script with set -u, script will blow up with Unbounded Variable error.

Link to line:
https://github.com/conda/conda-env/blob/develop/bin/activate#L51

Not sure the best way to test if variable exists, then test if it is not null. Maybe an early test if variable exists and then if it does not set it to null

[2015-10-14 17:53] msarahan commented on #179
https://github.com/conda/conda-env/pull/178

[2015-10-14 18:07] malev commented on #180
Thanks for reporting @jolos. Will work on this soon

[2015-10-14 18:08] malev commented on #181
good advice. Feel free to open a PR if you want

[2015-10-18 20:35] malev commented on #173
@msarahan would you mind taking a look at this?

[2015-10-18 20:38] malev commented on #167
@ahmadia would you mind pasting here the content of the `environment.yml` file?

[2015-10-18 20:39] malev commented on #166
Looks like a feature requests. Not sure when I'll be able to work on this. Feel free to submit a PR.

[2015-10-18 20:40] malev commented on #165
@benbovy I'm gonna mark this as a feature requests. Sadly I'm not sure when I'll be able to work on this

[2015-10-18 20:41] malev commented on #163
@mikecroucher, @msarahan has made significan changes in the `activate.bat` file. Maybe it will be fix with his patches. We will release a new version of `conda-env` soon, please let me know

[2015-10-18 20:43] ahmadia commented on #167
See https://github.com/conda/conda-env/issues/168#issuecomment-142093973

[2015-10-18 20:49] msarahan commented on #163
Current fixes don't address this, I don't think.  I will get a fix in soon, but I don't want this to hold up a release right now.

[2015-10-18 20:52] msarahan commented on #173
Same as #163 I think.  I will work on this very soon, but probably not for this release.

[2015-10-18 20:55] msarahan commented on #115
Between conda-env and https://github.com/conda/conda-build/pull/601 this should be fixed.  However, existing root environments will not have Library/bin on PATH.  Users will need to manually add that, if they are depending on things being set up from the installer setting PATH for them.

[2015-10-18 20:55] #115 closed

[2015-10-18 21:22] msarahan commented on #173
Fixed by #164

[2015-10-18 21:22] #173 closed

[2015-10-18 21:22] msarahan commented on #163
Fixed by #164

[2015-10-18 21:22] #163 closed

[2015-10-18 21:23] msarahan commented on #163
@mikecroucher thanks for this.  I have integrated your work with other stuff, and it all seems to play nicely.

[2015-10-18 21:26] msarahan commented on #159
Not sure how this one should be handled.  Some stuff, like Conda, is only installable in the root environment.  I don't really see why Pip should have this restriction though.  We will investigate.

[2015-10-19 16:29] phobson commented on #159
@msarahan Sorry. I should have circled back. I think this has been resolved. I don't know which version fixed it though. I think this can be closed.

[2015-10-19 16:30] msarahan commented on #159
Thanks!  Please re-raise it if you encounter it again.

[2015-10-19 16:30] #159 closed

[2015-10-19 22:46] #166 closed

[2015-10-20 00:01] malev commented on #180
@jolos we are not maintaining the `pypi` package anymore. The best way to install `conda-env` is to run: `conda install conda-env`

[2015-10-20 00:01] #180 closed

[2015-10-20 02:42] malev commented on #168
the problem is not related to the name of the environment.
For some reason, when you install pip like this it does not installs python with it so https://github.com/conda/conda/blob/master/conda/pip.py#L22 evaluates to False.
Not sure how to fix this issue

[2015-10-20 02:43] malev commented on #165
@benbovy what are the other implications of doing this?

[2015-10-20 02:44] malev commented on #155
Since conda does not support this kind of installation I'm gonna close this

[2015-10-20 02:44] #155 closed

[2015-10-20 02:45] malev commented on #167
@ahmadia I don't think they are related.

[2015-10-20 10:24] jolos commented on #180
Ok thanks,  of course installing using conda requires that you have conda installed, but that requires conda-env. So this means that the only way to get started with conda is to use miniconda/anaconda. That's ok for me, though you might want to consider removing the pypi package altogether.

[2015-10-20 19:36] malev commented on #62
@andreas-h I think this should be fixed by now:
[code]

[2015-10-20 19:54] malev commented on #109
@joelhullcio when you have an environment activated you have access to the env variable `CONDA_ENV_PATH`:
This should be enough. Don't you think?

[2015-10-20 19:54] #109 closed

[2015-10-20 20:00] malev commented on #180
@jolos agree I should remove it but first I need to track whoever has created it :disappointed:

[2015-10-22 16:42] andreas-h commented on #62
the problem still exists.

It seems to work correctly if I already have `anaconda/bin` in my path and do `source activate -nmyenv`:

    echo $PATH
    /home2/hilboll/anaconda/bin:/home2/hilboll/bin:/home2/hilboll/scripts:/home2/hilboll/.local/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games:/home2/hilboll/.local/MRT/bin
    source activate py3
    disca

[2015-10-23 03:02] ijstokes commented on #177
This is an Anaconda Server issue, AFAICT.  https://github.com/Anaconda-Server/anaconda-server/issues/849

[2015-10-23 11:46] nicoddemus opened #190 "Conda env update doesn't remove installed packages"
Hi,

Suppose an environment created with the following `environment.yml`:

[code]

If the user removes `py` from the dependencies list in the file and executes `conda env update` on this environment, `conda-env` won't remove `py` from the environment.

Is this behavior a bug? If so, I would be happy to work on a PR to fix this.

[2015-10-23 12:11] nicoddemus commented on #190
If removing packages shouldn't be happen by default, how about a `--prune` option?

[2015-10-23 13:42] ijstokes commented on #177
@malev This is weird: I don't understand how it worked for you, but not for me.  Can you try `conda env create ijstokes/usgs`?

If that works, please can you let me know what version of `conda`, `anaconda-client` and `conda-env` you are using?

TIA!

[2015-10-23 16:49] ijstokes commented on #177
@srossross has just confirmed that versions are created on the client side, so back to this being a `conda-env` issue, not Anaconda Server.

[2015-10-26 21:24] dkoppstein opened #192 "explicit environment with pip requirements?"
Hi, I recently found out about the explicit environment file format, created by

    conda list --explicit > explicit-spec-file.txt

However, AFAIK it seems that this doesn't support pip dependencies supported by the old environment.yml format. Is there a way to put pip dependencies into the new explicit file format?

[2015-10-27 15:16] malev commented on #192
@dkoppstein this looks like a question for the [conda](https://github.com/conda/conda) team

[2015-10-27 15:16] #192 closed

[2015-10-27 15:19] malev commented on #190
@nicoddemus sounds good. However a feature like this would need us to work in `conda-env` and in `conda` and that's not gonna be easy

[2015-10-27 15:25] #174 closed

[2015-10-27 15:26] #175 closed

[2015-10-27 17:59] nicoddemus commented on #190
Thanks for the reply @malev.

I'm studying the code and I see what you mean... this change probably needs to reuse much of the logic in `conda.plan.install_actions` to discover which packages are installed but should now be removed after all spec -> package resolutioin takes place.

I see what I can come up with.

[2015-10-27 18:18] malev commented on #190
so I was thinking on implementing something like [deps](http://www.rubydoc.info/gems/deps/0.1.0) so you can add and remove dependencies from your `environment.yml`, it will also pin the mayor version of your dependencies and it will allow you to remove them easily. But I think this should live in another project.

[2015-10-27 18:36] nicoddemus commented on #190
I see... while interesting, this would not really help us much, I'm afraid.

Let me describe our use case in more details, perhaps you have other suggestions to solve the issue we have.

We work a lot on Windows, and because linking/un-linking can be quite slow we want to minimize environment creation in our CI servers. This means for a certain project (say `xgui`), we would like to reuse the same

[2015-10-27 19:02] nicoddemus commented on #190
I could get it to work, the change is relatively simple. `conda.plan.install_actions`, which is called by `conda env update`, already uninstalls conflicting packages when the environment deems that a different version of a package will be installed:

[code]

Adding a `prune=False` parameter to `conda.plan.install_actions` and changing the code slighlty:

[code]

Does the trick.

I will work on tes

[2015-10-28 14:25] piltu007 opened #193 "How do I install Python3 using Python2 Miniconda?"
I have Python2 Miniconda package manager installed in my computer. Can I install Python3 using this package manager? And can I run both Python2 and Python3 side by side?
Thanks.

[2015-10-28 14:42] msarahan commented on #193
Yes.

conda create -n <your env name> python=3.4 <any other packages>

or

conda create -n <your env name> python=3.5 <any other packages>

you need to activate this environment before you can use the other python version.

[2015-10-28 17:34] piltu007 commented on #193
Thanks @msarahan

[2015-10-28 17:34] #193 closed

[2015-10-28 20:40] malev commented on #190
@nicoddemus I'd love to see this feature in `conda-env`

[2015-10-28 21:26] nicoddemus commented on #190
Cool, will work on it! :smile: :

[2015-10-29 14:17] ahmadia opened #194 "Depending on a specific build number?"
This may be a conda/conda issue, feel free to move it there.

Every once in awhile I'll detect a bug in a specific *build* of a package, and I'll need to specify a later build in the environment file.  Is this supported?  What's the correct syntax for doing so?

[2015-10-29 14:23] ahmadia commented on #194
Inded: https://github.com/conda/conda/issues/1750

[2015-10-29 14:23] #194 closed

[2015-10-30 21:51] nicoddemus commented on #190
PRs opened. :smile:

[2015-10-30 21:59] nicoddemus commented on #190
PRs opened. :smile:

[2015-11-02 17:05] SlaterByte opened #196 "Pinned Versions in environment.yml"
environment.yml files let you specify a version of a package to install, but it does not allow you to pin the version for the environment. A `conda update` could easily move a "handcrafted" gcc=4.9.2 to whatever is available. After an update has occurred, a `conda env update` does not help restore the original versions.

We are able to set pinned versions in a `$ENV/conda-meta/pinned`, but this is

[2015-11-04 16:31] tadeu opened #197 "Missing consistent way to get the full path of active env (on Windows and Unix)"
Since merge #60 the environment variable `CONDA_ENV_PATH` is not defined by `activate` anymore. Is this an intended change or is this a bug?

Some user scripts rely on this variable and it still exists in Linux.

I'll be happy to send a PR if you consider this a bug.

[2015-11-05 16:01] treeandbrick opened #199 "Specify arguments to pip in environment.yaml"
Is it possible to specify arguments to pip (such as a custom index) inside the environment.yaml? Relying on a setting in .piprc is not an option for me.

[2015-11-06 14:15] marscher commented on #115
It is nice that the PATH is being when using the installer but what about existing installations? The average user is not able to set env variables and therefore can not use his/her software any more.

[2015-11-06 14:26] ijstokes commented on #179
I'd like to make a proposal that `conda-env` and `anaconda-client` need to be merged into the `conda` package and be one and the same tool.  Besides the fact that I think it is veru confusing to have `conda` and `anaconda` be two different CLI commands, we have the issues mentioned here, as well as:

[code]
So I think this is a weird situation.  There are a set of "meta" commands that all should o

[2015-11-06 14:42] nicoddemus commented on #179
I personally agree, specially in the case of `conda` and `conda-env`, although I agree that it also appears to make sense for `conda-build`.

[2015-11-09 14:45] malev commented on #199
@treeandbrick not for the moment sorry, but there is an old feature request. Look at #20
Honestly I don't know when we would work on that. But if you want to jump in, you are more than welcome.

[2015-11-09 14:45] #199 closed

[2015-11-09 14:57] malev commented on #196
@SlaterByte Are you sure? Maybe I'm not following. Take a look at this and tell me what I am doing wrong:
[code]

Now the update in the same environment:
[code]

I basically had an environment file with bokeh pinned to 0.2.0 and once I've changed it to 0.4.0 `conda env update` did the trick. Keep in mind that the latest version of bokeh is 0.10 or something like that

[2015-11-10 08:10] Korijn opened #200 "Separate development, build and test dependencies from runtime dependencies"
**Introduction**
Similar to how `npm`'s `package.json` has a `dependencies` and `devDependencies` node, it would be interesting to make such a distinction in `environment.yaml`.

This would be useful to have tools such as `pyinvoke`, `flake8` and `sphinx` listed in `devDependencies`, since they are not required for an environment where you will only run the package code (for example, when deployin

[2015-11-10 12:21] Korijn commented on #179
:+1: @ijstokes

[2015-11-10 13:06] ilanschnell commented on #179
I disagree.  Almost 2 years ago conda-build was specifically moved out of
conda to make conda smaller and easier to maintain.  The ability to install
packages into the root environment only can usually be achieved by making
them depend on conda.  However, in the case of conda-env this is not so
easy, as conda depends on conda-env.
On Nov 10, 2015 7:22 AM, "Korijn van Golen" <notifications@github.c

[2015-11-10 19:20] malev commented on #200
Thanks for your suggestion @Korijn, I like your idea

[2015-11-10 20:23] SlaterByte commented on #196
There is a misunderstanding. My issue is after we have used `conda env create` and then try to update packages. I only reference `conda env update` in the context of running it with an unchanged environment.yml, i.e. I am not changing the version set in my environment.yml.

See if this output makes sense:

[code]

Now I run an update for that specific package (maybe by accident, maybe another cond

[2015-11-10 20:47] SlaterByte commented on #181
Do I need to provide anymore input?

[2015-11-11 06:22] teoliphant commented on #179
anaconda-client can also *not* be merged into conda as it deals with separate things.    Some of the features of anaconda-client could be refactored into conda as needed.   But the anaconda command is really about interacting with Anaconda Cloud (anaconda.org) and is different.

[2015-11-11 08:48] Korijn commented on #200
Any thoughts on what modules would be affected by such a change? I'm very eager to implement it soon... :)

[2015-11-11 10:26] nicoddemus commented on #200
This is an interesting idea, and we have been thinking about how environments and their dependencies play out during the various stages of development.

Besides production, there might be other types of environments with different dependencies, for example running tests vs. production vs. compilation of C++ extensions. I think it makes sense to not tie different environments to "production" and "d

[2015-11-11 10:41] Korijn commented on #200
Another thing to keep in mind is that you need to somehow synchronize these dependency specifications with the conda recipe's `meta.yaml`. I'd really enjoy being able to refer to `environment.yaml` from my `meta.yaml`.

That would mean that you need at least the following three requirement lists to match [the recipe lists](http://conda.pydata.org/docs/building/meta-yaml.html#requirements-section),

[2015-11-11 11:02] nicoddemus commented on #200
Hmmm that's a problem we don't have as we always develop in `develop` mode and do not create packages for our internal projects, but I certainly see your point. We have contributed a PR in #88 which adds `jinja2` support and which we have been using extensively, perhaps it can be used to read `meta.yml` and fill your `dependencies.yml` section, even if it is a little hackish.

I'm not sure, probab

[2015-11-11 11:09] Korijn commented on #200
The jinja2 feature is interesting! That would definitely work, if you could parse the `meta.yaml` file in the template. Is it possible to have access to pyyaml in the template?

You could just allow newer versions of conda-env to use `requirements` as well, as an alias.

[2015-11-11 11:16] nicoddemus commented on #200
Not currently, but that should be simple to add.

Yep, not really a problem. :smile:

[2015-11-11 12:29] Korijn commented on #200
You could just leave the `run` section as the root, so that the other subsections "extend" the runtime dependencies, to avoid duplicating everything. That would lead to the following:

- [ ] `dependencies` in `environment.yaml` gets an alias `requirements`
- [ ] parse subsections in the `dependencies` node for `dev`elopment, `test`ing and `build`ing
- [ ] add optional argument `--production` to CL

[2015-11-13 08:37] Korijn commented on #200
I went ahead and updated the issue description and title to reflect the current state of the discussion.

[2015-11-13 17:23] Korijn commented on #200
Another potential issue I stumbled upon today is that we can't list pip requirements in `meta.yaml`. :/

[2015-11-13 19:37] nicoddemus commented on #200
True. There's a new format being discussed in #145.

[2015-11-13 20:04] Korijn commented on #145
Interesting concept! I wrote a related issue, perhaps we can benefit from eachother's ideas?

See https://github.com/conda/conda-env/issues/200

[2015-11-16 11:35] nicoddemus commented on #145
I think we should keep the root `dependencies` item, because it makes straightforward to add backward-compatible features easier, such as the environment variable support proposed in #88.

So here's my suggestion:

[code]

It could even be made backward compatible by assuming all items under `dependencies` which are not a `dict` are dependencies to be installed using `conda`.

[2015-11-17 16:16] malev commented on #145
@nicoddemus sounds good

[2015-11-17 17:17] malev commented on #200
@Korijn `conda-env` and `conda-build` are different projects and I don't think there is any plan of using the `environment.yml` file from `conda-build`. At least for now. Although it think it would be amazing.
I like
[code]
We can have it like: whatever is in dependencies is common and then you can be more specific depending on the task that you want to do (tests, build or compile). To be honest I

[2015-11-17 18:43] goanpeca commented on #145
:+1:

[2015-11-17 19:07] malev commented on #145
@nicoddemus there is a limitation with conda here. you can not specify a channel per package unless you run conda in separate process one after the other. Therefore I don't think this amazing idea is possible. We will need to make some changes in to conda and I don't see that happening now.

[2015-11-17 19:07] #145 closed

[2015-11-17 19:44] Korijn commented on #200
Sounds like a worthwhile improvement to me! Although I'm a bit dissapointed that I'll have to continue to resort to command line automation to keep my requirements synchronized between environment.yaml and meta.yaml.

I like the bundler approach, the `--without` flag seems useful. I'd like to see a `--with` flag as an alternative option as well though. There are cases where you just want to exclud

[2015-11-17 20:20] nicoddemus commented on #200
I agree, `--with` fits our use case nicely. Here's what our continuous integration build script for an hypothetical library named `myproject` would look like:

[code]

Of course, here `--with=tests` means `dependencies` + `dependencies[tests]`.

Does this make sense to you guys?

One use case where we still use `jinja2` is to have different dependencies based on the platform, like this:

[code]

A

[2015-11-17 21:25] Korijn commented on #200
So how would one specify to install only the default deps? `conda env create --without=all` and/or `conda env create --with=default`?

And +1 on the preprocessed comments suggestion.

[2015-11-18 00:36] nicoddemus commented on #200
I think so too, at least for the use cases I have in mind. So, to summarize:

**Proposal 1**

[code]

* `conda env create`: uses `dependencies`;
* `conda env create --with=tests`: uses `dependencies` + `dependencies[tests]`;
* `conda env create --with=tests,compile`: uses `dependencies` + `dependencies[tests]` + `dependencies[compile]`;
* `conda env create --with=all`: uses `dependencies` + `depen

[2015-11-18 04:08] yoavram opened #202 "Full paths in environment.yml break cross-platform support"
If an environment is created on a path (using the -p option rather than the -n option), the name of the environment in the environment.yml file is the full path (D:\workspace\project\venv) which breaks the cross-platform feature.

[2015-11-18 06:01] malev commented on #202
`conda-env` was not designed to work with `-p` option. The preferred way is named environments.

[2015-11-18 06:01] #202 closed

[2015-11-18 06:10] Korijn commented on #200
I like it! How about just "groups"?

[2015-11-18 09:12] nicoddemus commented on #200
:+1: for groups :smile:

[2015-11-18 11:03] Korijn commented on #200
There are cases where you want `conda env create` to just install everything, or a default selection, for example, when you don't have control over the command that is being executed (e.g., readthedocs is implementing conda environments by just calling `conda env create`).

But the semantics of the command line options will get confusing if the omission of `--with` leads to everything being instal

[2015-11-18 12:39] nicoddemus commented on #200
@Korijn I'm :+1: for having a "default group". Perhaps it would be clearer to name it `default-dependencies` or `default-groups` though?

While currently `environment.yml` is all about installing packages, I see the possibility of adding further features to it, like [environment variables](https://github.com/conda/conda-env/pull/88), so I personally would prefer to have a more specific name for th

[2015-11-18 12:40] Korijn commented on #200
Seems reasonable! :+1:

[2015-11-18 12:42] Korijn commented on #200
Or:

[code]

[2015-11-18 12:55] nicoddemus commented on #200
I personally prefer:

[code]

But really either way is fine to me. :grin:

[2015-11-18 13:40] Korijn commented on #200
:+1: Fine by me!

I have no further objections, so unless @malev has any objections...

[2015-11-18 19:49] malev commented on #196
ohh I see, thanks for clarifying @SlaterByte
but now it looks like a feature request. I'd love to work on it but I'm not sure when I'll be able to do it. Feel free to submit a PR.

[2015-11-19 00:23] ahmadia opened #204 "Redundant pip dependencies when installing jupyter with conda env"
[code]

[2015-11-19 01:13] SlaterByte commented on #196
Awesome. Definitely feature request then. Probably won't be able to submit a PR myself, but I'll take a look.

[2015-11-19 12:13] ocefpaf opened #207 "Add a cran option akin to pypi option"
Hi, this is a feature request.  It would be nice if we could especify  `cran` packages in the `environment.yml` in a similar way we can do for pypi packages.  Not sure how difficult this would be though, but it would be a great addition to `conda-env`.

[2015-11-19 12:59] ihrke commented on #207
I second that. Basically, it would be great if CRAN packages installed via `install.packages()` would somehow end up in the `environment.yml` file.

[2015-11-22 19:17] JanSchulz opened #209 "Needs to remove R_LIBS from the environment variables"
Currently activating an environment does not remove the env variable `R_LIBS`. If I have that set, then my packages get loaded from that place (and probably new packages get installed into that dir as well):

[r_test is a kernel which uses R.exe from the conda env)
[code]

[2015-12-02 19:41] shoyer opened #211 "Use "conda env update" to install into an environment in a custom location"
This does not appear to be currently possible to do in a clean fashion. It seems like allowing a `--prefix` argument in conda-env would solve this important use case.

See https://github.com/rtfd/readthedocs.org/issues/857#issuecomment-161397858 for more context.

cc @ericholscher

[2015-12-05 14:21] nicoddemus commented on #200
Any news on this? We saw the need for something like this again this last week... :grin: n:

[2015-12-05 14:54] Korijn commented on #200
I'm considering implementing preprocessed comments just like how they work in conda-build (so the usual suspects are available: `win`, `py27`, etc.), with the addition of being able to define more variables such as `test` yourself. I would opt for the `--with` parameter to set the custom variables to `True`. Special case: `--with all` will install everything.

[code]

[2015-12-10 11:22] Korijn commented on #200
See #213

[2015-12-10 16:59] bkreider commented on #211
It looks like you are correct.  I only see the --name parameter.

[2015-12-11 15:36] mrduane commented on #138
+1 The ability to reproduce envs on multiple platforms would be very useful.

[2015-12-11 15:48] nicoddemus commented on #138
Pardon me, I'm not quite grasping what the issue is about...

[code]

`conda env create` with the file above only installs the `pytest` package, but doesn't install `python` or `colorama`?

[2015-12-15 14:24] lebedov opened #214 "update MANPATH on environment activation/deactivation"
Since a conda environment may contain man pages, it would be great for the activation/deactivate scripts to automatically update MANPATH during environment activation/deactivation to prepend/remove $CONDA_ENV_PATH/share/man.

[2015-12-15 17:17] msarahan opened #215 "Windows activate with "root" arg does not work."
This is because it treats it as a named environment, then goes to look it up.  It should be special-cased in activate.bat.

Current workaround is to call activate.bat with no arguments at all.

[2015-12-21 14:19] mankoff opened #217 "Cannot export environment outside of default path"
[code]

Returns the following error:

[code]

[2016-01-01 19:43] stephenakearns opened #218 "endlocal statement in activate.bat prevents environment variables being propogates"
_From @gillins on December 15, 2015 3:3_

Just testing the latest gdal build. There is a gdal-activate.bat that gets properly called to set %GDAL_DATA% but this does not get returned to the user's environment. I think this is due to the endlocal statement preventing set variables getting returned to the caller.

This is easy to test by trying to activate an environment with gdal in it and testing

[2016-01-01 19:43] stephenakearns commented on #218
_From @srossross on December 18, 2015 17:20_

@csoja when you have a moment can you make an update on this issue?

[2016-01-01 19:43] stephenakearns commented on #218
Hi @gillins - to clarify, you've created an environment with gdal installed and then when you go to conda env source activate you get this error condition where the env variable isn't being set?  cc: @groutr

[2016-01-01 19:43] stephenakearns commented on #218
_From @gillins on January 1, 2016 4:30_

Correct.

I can also confirm that putting an endlocal statement in gdal-activate.bat didn't seem to help.

[2016-01-14 12:13] Korijn commented on #200
The PR is updated!

[2016-01-15 21:39] mortada commented on #42
I have the same problem with sharing between OSX and Linux environments too. Currently I manage two separate `yml` files, one for each environment. Would be nice to have an easier way to share environments

[2016-01-21 23:28] gillins opened #220 "up to date recipes for GDAL and dependent libraries are not available on github"
Makes it impossible to submit pull requests for improvements to these libraries. @groutr has these recipes locally I understand.

Would be good to have libgdal, gdal and all other dependencies (hdf5 etc) on github.

[2016-01-21 23:29] gillins opened #221 "hdf4 not build for all versions of Visual Studio on Windows"
Appears to be built with VS 2008, but needs to be available in all VC versions using the vc9, vc10 and vc14 features. See the hdf5 build.

hdf4 is used by GDAL so needs to be available in all variants so the correct one can be selected depending on the build on GDAL which in turn is dictated by the Python version.

Recipe not available on github (see https://github.com/conda/conda-env/issues/220),

[2016-01-21 23:35] gillins opened #222 "Make gdal available for Python 3.5 on Windows"
Currently gdal is only available for Python 2.7 and 3.4 on Windows. Since most other packages seem to be available for 3.5 it seems a shame not to have gdal also available for 3.5.

There is a patch to get hdf4 working with Visual Studio 2015 (needed for 3.5 builds) under https://github.com/conda/conda-env/issues/221.

[2016-01-26 03:54] dmkent opened #223 "conda env update/create return success even if pip fails"
When installing pip packages into a conda environment using an environment.yml file the conda env update/create process will return with success even if pip fails.

Normally this isn't too much of an issue as the pip error message is in the output but when using an automated deployment (e.g. with ansible) the process' return code is important.

An example environment.yml file, the output using the

[2016-01-26 04:18] #223 closed

[2016-01-28 04:49] gillins commented on #220
Sorry wrong place. Replaced by: https://github.com/conda/conda-recipes/issues/567

[2016-01-28 04:49] #220 closed

[2016-01-28 04:52] gillins commented on #221
Sorry wrong place. Replaced by: https://github.com/conda/conda-recipes/issues/568

[2016-01-28 04:52] #221 closed

[2016-01-28 04:54] gillins commented on #222
Sorry wrong place. Replaced by https://github.com/conda/conda-recipes/issues/569

[2016-01-28 04:54] #222 closed

[2016-01-28 18:07] nugend opened #225 "Document valid environment.yml more thoroughly"
The example in README.md is kind of vague about what is and is not allowed in the environment.yml file. It should explain what each field means, what the valid values are, and direct the user to a place to look for valid values to put in each field. If this documentation already exists elsewhere, there should be a link to it.

[2016-01-28 19:11] nugend commented on #225
Version specification details for each section would also be good. Seems like the general dependencies section uses conda's requirement syntax while the pip section uses pip's?

[2016-01-28 21:38] ahmadia opened #226 "Failed pip installations are silent"
I don't think conda env checks the status of attempts to `pip install` packages into the environment.  This causes weird issues when the `pip install` fails but `conda env install` command succeeds.

[2016-01-28 23:08] Korijn commented on #200
Ping @ilanschnell and @kalefranz any chance this can be included in the release? :)

[2016-01-28 23:12] nicoddemus commented on #200
Yes please. :smile:

[2016-02-01 16:56] nicoddemus commented on #74
@tswicegood please checkout #213

[2016-02-01 20:38] tswicegood commented on #74
@nicoddemus I'm no longer involved in this project. Maybe @malev or @ilanschnell could review it.

[2016-02-01 20:41] nicoddemus commented on #74
No problem, just wanted to ping you in case you were interested. :smile:

[2016-02-02 21:18] dmkent commented on #226
This looks the same as #223.

Already fixed on develop via #224.

[2016-02-02 21:20] ahmadia commented on #226
Awesome, thanks so much for this!

[2016-02-02 21:20] #226 closed

[2016-02-04 23:22] gillins commented on #218
Any progress with this? Is a serious problem for advanced GDAL users on Windows...

[2016-02-05 00:02] msarahan commented on #218
Please see https://github.com/conda/conda-env/pull/219

As a stopgap, you can replace your activate.bat and deactivate.bat with the modified files in that PR.

Ping @groutr @kalefranz

[2016-02-17 17:45] jseabold commented on #138
IIUC, ruby bundler deals with this somewhat elegantly with the concepts of a Gemfile for first-class dependencies and a Gemfile.lock for conservatively pinning both first- and second-order dependencies.

[2016-02-17 18:16] tadeu commented on #138
As @nicoddemus said, it is working as expected (since long ago).
I'm at a loss here too... why is this issue still open?

[2016-02-17 18:46] jseabold commented on #138
Indeed. My mistake. My issue is with `conda install --file`.

[2016-02-19 19:53] oyse opened #227 "conda env create <username>/<env name> fails"
When doing a conda env create against a private Anaconda Server the create fails since the yaml content will be empty.

The environment file is found correctly and downloaded, however the internal read inside of binstar.py use req.raw.read() which requires that stream=True on the sent request (http://docs.python-requests.org/en/master/api/?highlight=raw) which is not the case in the version of bin

[2016-02-24 11:32] pelson commented on #207
Is there an R expert who knows the necessary hooks? This would be an excellent addition and really highlight the fact that conda isn't just a Python package manager.

[2016-02-25 08:07] Korijn commented on #200
This is still GTG as far as I can tell. Can't it be merged in?

[2016-02-25 08:09] Korijn commented on #200
See #213

[2016-03-02 20:38] tadeu commented on #197
@msarahan and @kalefranz, what is the status of `CONDA_ENV_PATH` and `CONDA_DEFAULT_ENV` on Windows and Unix?

Is there documentation for these variables?

Thanks!

[2016-03-02 21:45] Korijn commented on #200
This was resolved by #213, closing.

[2016-03-02 21:45] #200 closed

[2016-03-03 13:50] msarahan commented on #197
No docs that I know of yet. Please excuse capitalization here. On my phone.

Conda_default_env should be the full path of the active env.  I don't know when conda_env_PATH changed, but I don't think there is intent to bring it back.

There was discussion about changing conda_default_env to conda_active_env at https://github.com/conda/conda/pull/1727 - ultimately it was decided to not change it.

I

[2016-03-03 14:08] tadeu commented on #197
Ok, thanks for the quick explanation. :)

(I was meaning about `CONDA_ENV_PATH`, without the `S`)

In this case, since `CONDA_DEFAULT_ENV` is the "official" one, it's ok in Windows, but it seems there are inconsistencies in Unix:

- `CONDA_ENV_PATH` still exists, and is a full path (this should be removed)
- `CONDA_DEFAULT_ENV` may or may not be a full path (if passed something with slashes, it's

[2016-03-03 14:21] msarahan commented on #197
Thanks, I'll try to iron out those inconsistencies as part of #1727 - the goal there is really to unify the activation/deactivation process across platforms.

[2016-03-03 15:04] kalefranz commented on #197
For the record, I prefer `CONDA_ENV_PATH` over `CONDA_ENVS_PATH` since the variable should be holding a path to a single env. If we're going to change the name of this important environment variable, let's get it right now so that we don't have to change it again in the future.

Also, we should make a separate task/PR to support the old env var for a while with a strongly-worded deprecation warnin

[2016-03-03 15:07] msarahan commented on #197
No, you're getting mixed up.

  - ```CONDA_ENV_PATH``` is a variable that has only been present on linux.  It always held the path of the active environment.
  - ```CONDA_ENVS_PATH``` is used on both Windows and Linux, and is a platform-native list of paths where Conda should look for environments when a name is provided for activation.
  - ```CONDA_DEFAULT_ENV``` is used on both Linux and Windows

[2016-03-05 20:07] timsnyder commented on #214
+1

[2016-03-07 16:05] edurand commented on #209
Hello,
Was any progress made on this issue?

[2016-03-07 16:08] msarahan commented on #209
ping @mingwandroid @groutr

This should be doable with an activate.d or deactivate.d folder created by the R recipe.  I don't think it should be something that conda-env itself handles, other than ensuring that the correct activate.d/deactivate.d script gets called.

[2016-03-07 17:16] JanSchulz commented on #209
I'm not sure what I should compare this to: it is probably comparable to `PYTHONPATH` (sets the search path for importing python modules). I'm not sure how that is handled by activate...

Anyway: conda build should definitely remove both variables as otherwise that will result in wrong packages available during the build.

BTW: the activate.d thingy is currently very fragile, as it is not run when

[2016-03-09 20:44] msarahan opened #230 "Removing Misuse of Build Versions"
@tinyheero commented on [Tue Mar 08 2016](https://github.com/conda/conda-recipes/pull/628)

This pull request removes the OS specific build versions which isn't what these values are meant for.

---

@groutr commented on [Wed Mar 09 2016](https://github.com/conda/conda-recipes/pull/628#issuecomment-194448027)

Can you explain your line of thinking?

---

@msarahan commented on [Wed Mar 09 2016](ht

[2016-03-10 05:39] #190 closed

[2016-03-10 17:30] kalefranz opened #231 "conda env update yields "unexpected error""
_From @julienchastang on March 7, 2016 20:2_

Hi.

When I do a:

`conda env update --name root -f /home/python/emacs-python.yml
`

I get this error:

[code]

here is the content of that `emacs-python.yml` file

[code]

conda info

[code]

_Copied from original issue: conda/conda#2190_

[2016-03-10 17:30] kalefranz commented on #231
@julienchastang, Can you try `conda update conda` (should give you `4.0.1`), and then

    conda update jedi rope flake8 pylint pip jupyter_client ipykernel jupyter_console

[2016-03-10 17:30] kalefranz commented on #231
_From @julienchastang on March 7, 2016 20:57_

@kalefranz Thanks for getting back to me so quick. I am now at `4.0.1`

[code]

When I run

`conda update jedi rope flake8 pylint pip jupyter_client ipykernel jupyter_console`

I get

`Error: package 'jedi' is not installed in /home/python/anaconda`

Installing that list of packages via `conda install` does work, BTW.

This may not be the diagnostic y

[2016-03-10 17:30] kalefranz commented on #231
@julienchastang That definitely helps. Can you also give me the output of

    conda list --explicit -n root

[2016-03-10 17:30] kalefranz commented on #231
_From @julienchastang on March 7, 2016 21:13_

@kalefranz See below. (Note, in the output below, I never installed those packages from `emacs-python.yml` via `conda install` which I think is what you want, but just mentioning it for full disclosure.) Thanks again.

[code]

[2016-03-11 05:19] gillins commented on #218
Having to patch installed files isn't a great introduction to Conda for new users who need GDAL. Surely something better can be done here to have it work on a clean install even if there are tweaks to the details later?

[2016-03-11 13:58] msarahan commented on #218
I agree. Ping @kalefranz - can we have a conda environment release soon? We need to remove the activate scripts from it, since they live in conda now.  I will submit a PR in a bit.

I wrote a test case specifically for this, so I'm pretty sure it will work after PR 1727.

[2016-03-11 23:31] kalefranz opened #232 "conda env create issue"
_From @olivier65 on March 11, 2016 14:46_

The command "conda env create -f .\requirements.yml" yielded this error:

Traceback (most recent call last):
  File "C:\Python\Miniconda\2\Scripts\conda-env-script.py", line 5, in <module>
    sys.exit(main())
  File "C:\Python\Miniconda\2\lib\site-packages\conda_env\cli\main.py", line 68, in main
    return args_func(args, parser)
  File "C:\Python\Minic

[2016-03-11 23:34] kalefranz opened #233 "Error with environment.yml and pip format"
_From @alanhdu on March 11, 2016 6:36_

With the following two `environment.yml` files:

[code]

[code]

On Windows (and not on Linux), I get this error when trying to run `conda env create`:

[code]

If I downgrade conda to v3.19.3, the error disappears and everything works, so I assume this is a conda error. Let me know if I should refile with conda env instead.

_Copied from original issue: con

[2016-03-11 23:34] kalefranz commented on #233
_From @alanhdu on March 11, 2016 6:46_

Update: Everything works with conda 4.0.2, but not with 4.0.4, so this must have been introduced pretty recently.

[2016-03-11 23:34] kalefranz commented on #233
Duplicate of https://github.com/conda/conda-env/issues/232

[2016-03-25 04:33] alanhdu commented on #232
This was closed by https://github.com/conda/conda/pull/2264.

[2016-03-25 04:55] alanhdu commented on #233
This was also closed by https://github.com/conda/conda/pull/2264.

[2016-03-28 21:03] tadeu commented on #197
conda/conda#1727 was resolved (good job there!), but it still doesn't touch this issue here, right?

[2016-03-28 21:13] msarahan commented on #197
It didn't remove CONDA_ENV_PATH, unfortunately.  Thanks for reminding us of this issue.  I'm going to move it to conda, now that the activate scripts live there (in master, anyway)

[2016-03-28 21:13] msarahan commented on #197
Issue moved to [conda/conda #2312](https://github.com/conda/conda/issues/2312) via [**ZenHub.io**](https://www.zenhub.io/)

[2016-03-28 21:13] #197 closed

[2016-03-30 13:35] mayerwin commented on #149
How can we include the equivalent of `pip install --upgrade https://github.com/dignio/ultrajson/tarball/master
`?

[2016-04-06 18:07] #232 closed

[2016-04-06 18:07] #233 closed

[2016-04-06 18:29] #227 closed

[2016-04-07 05:10] gillins commented on #218
I see #219 has been closed. The current version of activate.bat doesn't seem to allow anything other than PATH and PROMPT to be saved. Has there been a change of plan on how to resolve this?

[2016-04-07 12:44] msarahan commented on #218
Conda PR 1727 has been merged and will be in the coming conda 4.1 release.  The test for this behavior is at https://github.com/conda/conda/blob/master/tests/test_activate.py#L712

If you see any deficiency in that test, please let us know how to improve it.

[2016-04-14 11:49] dan-vine opened #236 "Feature request: conda-env should be able to create env outside default path"
With conda create I can use --prefix to specify installation path. I would like to have the same ability for conda-env.

Reason is: we are planing to use conda-env in an CI setup where we want to create a custom environment for every build. It will be much easier to manage this if the env lies together with the project instead of all envs in anacondas install directory.

[2016-04-27 19:27] mhweber opened #237 "Share environment with .whl installed packages in windows"
I'm interested in sharing an environment on Anaconda cloud in a .yml file using a python package only available via pip install from a downloaded .whl file (specifically shapely - issue here: http://deparkes.co.uk/2015/01/29/install-shapely-on-anaconda/).  Is there, or will there be, functionality to share an environment using a .whl installed package?

[2016-04-29 13:26] filmor opened #238 "Allow providing an ad-hoc environment on the command-line again"
To test packages it's very useful to quickly whip up an environment like it used to work:

    conda create -n py34_test python=3.4 some_package

I'd like this functionality back :)

[2016-05-03 23:36] jreback opened #239 "ENH: support conda env export --explict"
``conda list --explict`` is quite similar, would be nice to support this directly in an ``.yml`` (even better would be to have this generate the channels directly), as in suggested in #103

[2016-05-03 23:51] msarahan commented on #239
closed by #103

[2016-05-03 23:51] #239 closed

[2016-05-03 23:52] msarahan commented on #97
closed by #103

[2016-05-03 23:52] #97 closed

[2016-05-03 23:53] msarahan commented on #16
Closed by #103

[2016-05-03 23:53] #16 closed

[2016-05-03 23:53] msarahan commented on #218
Closing.  This is fixed in activate scripts that now live in conda, not conda env.

[2016-05-03 23:53] #218 closed

[2016-05-03 23:54] msarahan commented on #238
This should work.  I use this exact syntax often.  Please post any errors you're seeing.

[2016-05-04 06:38] filmor commented on #238
I'm sorry, apparently I messed something up in my last tries ...

[2016-05-04 06:38] #238 closed

[2016-05-10 23:48] timothymillar commented on #217
I can confirm this issue when environments are created with --prefix.

Also I believe this is the same issue as [conda/conda#1935](https://github.com/conda/conda/issues/1935)

[2016-05-13 18:41] mshirley commented on #236
+1

I would also like to have the ability to specify a installation path using an environment.yml.

Perhaps we can add a field in environment.yml called "path: relative-path/env"

[2016-05-17 21:51] jlaura opened #240 "Specify channel in dependencies?"
Perhaps I have missed this in the issues / README.  If so, apologies.

[code]

Given the above specification of dependencies and channels, it is possible to specify which channel a dependency should be filled by?  Something akin to how `pip` is used:

[code]

I also tried specifying the channel as I would required, e.g. opencv=3.0.0 [jlaura].

Is this type of functionality available?

[2016-05-17 22:54] mcg1969 commented on #240
No, it is not yet available. It is certainly a desirable one. I like the syntax you've come up with.

[2016-05-18 04:17] jlaura commented on #240
I think, but please correct me, that the location to enact a change like this is [here](https://github.com/conda/conda-env/blob/develop/conda_env/installers/conda.py#L13)?  This is where the list of channels is being passed over to conda proper.  In conda proper, the first channel that fulfills the requirement is used.

I am not grokking how `arg_func` is working and where installation via `pip` i

[2016-05-19 12:44] mankoff opened #241 "Cannot export environment outside of default path"
[code]

Gives error: `Error: '/' not allowed in environment name: /nonstandard/path/to/py_foo`

Originally discussed here: https://groups.google.com/a/continuum.io/forum/#!topic/anaconda/8eyh0gomA4k

[2016-05-19 14:42] Korijn opened #242 "How to provide Anaconda token for private packages when calling `conda env create`?"
The title says it all. How to provide Anaconda token for private packages when calling `conda env create`? Is there a environment variable that is picked up by conda? Or should we add the channel with the token to `conda config`?

[2016-05-23 16:53] mwcraig opened #243 "No way to upload environment to a different user"
Unlike `anaconda upload`, which allows me to upload packages to organizations I'm a member of, it appears that the only place I can upload an environment to is my user account.

I'm pretty sure it is possible through the anaconda API...but I'd rather not have to resort to that.

[2016-05-25 12:44] jerowe commented on #236
+1

I support users on a multiuser hpc cluster, and we always use conda create -p, because users don't have access to the main anaconda.

[2016-05-25 13:36] nicoddemus commented on #236
We have the same requirement, and we set `CONDA_ENVS_PATH` in our CI scripts:

[code]

This makes `conda env` create the environment directories in `$WORKSPACE/.envs`.

Posting this just to share the solution we now for those interested, I don't mean to imply that `conda env` should not have a `--prefix` option as well. :grin:

[2016-05-25 13:39] msarahan commented on #236
I agree with this request, but we currently do not have the time to implement this.  I welcome PRs, and will do my best to review them quickly.

[2016-05-27 19:45] dsludwig commented on #231
👍 I also encountered this issue. It happens to me when I change the list of channels in the environment file.

For me, this is sufficient to reproduce it:

`bug-1.yml`
[code]

`bug-2.yml`
[code]

[code]

[2016-05-27 20:36] julienchastang commented on #231
Last time I checked, which was fairly recently, I was also still running into this. My workaround is still with `conda install` [long list of packages] rather than relying on the `.yml` file which I would prefer.

[2016-06-02 12:58] dan-blanchard commented on #71
The ability to specify a pip `requirements.txt` file within `environment.yml` would be pretty handy.  I have a PR open to add support for working with requirements file directly though, #172.

[2016-06-03 22:12] #236 closed

[2016-06-15 16:48] jlafon opened #247 "conda env create not reading valid YAML"
Hi there, I've encountered an issue where a generated environment file containing valid YAML is not recognized when lists are [inlined](https://en.wikipedia.org/wiki/YAML#Lists). I had assumed that the environment.yml file could contain valid YAML, but I couldn't find any details in the documentation about it.

Example:

[code]

[2016-06-15 18:14] Korijn commented on #247
It parses the inlined lists as if they are preprocessing selectors, just like conda build does. @ivoflipse this looks like a valid use case for parsing preprocessing selectors only when they are in a comment.

[2016-06-15 18:15] Korijn commented on #247
I'll put up a PR with the fix tomorrow morning, but there will be discussion, since there are people who depend on the behaviour I'll have to disable.

[2016-06-15 19:49] kalefranz opened #248 "As of conda 4.1, conda env remove fails with AttributeError: module 'conda.plan' has no attribute 'PREFIX'"
@ronert reports https://github.com/conda/conda/issues/2679:

I tried this on three separate machines with conda 4.1.0. Every machine fails with `AttributeError: module 'conda.plan' has no attribute 'PREFIX'` when running `conda env remove -n environment_name` or `conda env remove -p environment_path`. This also happens on my Travis environment now causing my builds to fail. Any ideas?

[2016-06-15 19:49] kalefranz commented on #248
A current alternate solution is

    conda remove -n environment_name --all

[2016-06-15 20:18] Korijn commented on #248
I can't provide details (on my phone) but this feature of conda env has never worked for me since I became a user 6 months ago, and neither has `conda env create --force`. So, IMHO, I don't think this is a regression type of bug.

[2016-06-15 20:48] Korijn commented on #247
See here for the preprocessing selectors:

http://conda.pydata.org/docs/building/meta-yaml.html#preprocessing-selectors

For historical reasons that I am unaware of, they are also parsed when outside of a comment. I ported this functionality over to conda-env in #213 (see the PR for more details) and some discussion was had on this topic there as well.

I suppose your bug report is a good reason t

[2016-06-15 20:50] Korijn commented on #247
Mentioned discussion on the `#` can be found here: https://github.com/conda/conda-env/pull/213#discussion_r49743104

[2016-06-15 20:59] jlafon commented on #247
@Korijn thanks for the quick reply. If anyone else comes across this, you can use the [default_flow_style](http://pyyaml.org/wiki/PyYAMLDocumentation#Dictionarieswithoutnestedcollectionsarenotdumpedcorrectly) argument to safe_dump in PyYAML to force the block style.

[2016-06-16 02:18] kalefranz opened #249 "conda env update error"
_From @rickiepark on June 16, 2016 1:42_

I got a error when conda env update

[code]

_Copied from original issue: conda/conda#2702_

[2016-06-16 02:18] kalefranz commented on #249
@rickiepark Is there a reason you wouldn't just prefer `conda update --all` in this case?  Regardless, I'll open an issue for you in the conda-env repo.

[2016-06-16 02:23] rickiepark commented on #249
Thank you for moving issue.

Unfortunately, I already updated all of conda.

[code]

[2016-06-16 05:30] Korijn commented on #249
I think this was fixed in #246 and will be in a hotfix release soon.

[2016-06-16 20:09] kalefranz opened #252 "TypeError: install() got an unexpected keyword argument 'prune'"
_From @komailrk on June 16, 2016 19:39_

While updating an environment using a yaml file (included below), got a Python trace back.
[code]

[code]

_Copied from original issue: conda/conda#2724_

[2016-06-16 20:54] edparcell commented on #252
I encountered the same problem, affecting 2.5.0. It was introduced 10/29/2015 in e01ba6f3894be107fc0b14f5eb7326b012a51cbd, and was fixed yesterday in c050ba831b0a2403f92f6ba85b8ac680e5a0d7ae.

I was able to roll back in some cases with `conda install conda-env=2.4.5`. In others, I had to reinstall anaconda from scratch. Packaging tool problems are particularly troublesome because you typically nee

[2016-06-17 00:45] kalefranz commented on #252
@edparcell Check out

    conda list --revisions
    conda install --revision REV_NUM

to roll back.

[2016-06-17 00:49] kalefranz commented on #252
Fixed in https://github.com/conda/conda-env/pull/246

[2016-06-17 00:49] #252 closed

[2016-06-17 00:50] kalefranz commented on #249
Fixed in https://github.com/conda/conda-env/pull/246

[2016-06-17 01:22] #249 closed

[2016-06-17 01:23] kalefranz commented on #248
Fixed with #251.

[2016-06-17 01:23] #248 closed

[2016-06-17 01:28] kalefranz commented on #247
I've been in touch with @Korijn, and selector functionality will be removed from environment.yml as of conda-env 2.5.1.  I'm guessing inline lists will work out-of-the-box now.

I'll be working with @Korijn to figure out alternate implementation possibilities for the capabilities selectors provided.

[2016-06-17 01:28] #247 closed

[2016-06-17 17:46] joshowen opened #254 "No longer able to override file's name using --name command line argument"
Previously we could override the name from an environment file using `--name` in the CLI, but this is no longer respected after the latest release.  This was very useful for heroku buildpacks.

[2016-06-18 07:26] gabrielelanaro commented on #168
Is there any workaround for this issue?

[2016-06-18 15:22] ahmadia commented on #168
Specify a name in your environment file.
On Sat, Jun 18, 2016 at 3:27 AM Gabriele Lanaro <notifications@github.com>
wrote:

[2016-06-18 19:17] chemotaxis commented on #241
I can confirm that if I do the following:

[code]

I get this: `Error: '/' not allowed in environment name: ~/miniconda3/envs/minimal`

and nothing is written to `minimal.yml`.

But if I do this (while `minimal` environment is still activated):
[code]

My `minimal` environment dependencies are written to `minimal.yml`.

[2016-06-19 07:17] gabrielelanaro opened #255 "Exit code is zero when pip section of environment.yml has an error"
For example, given this environment.yml:
[code]
The file has a mistake and prints to standard error
[code]

However, process has exit status 0:

[code]

This causes some problems for example when dealing with configuration management software (the build will succeed and but fail later for lack of dependencies)

[2016-06-21 15:47] rsignell-usgs commented on #207
This would really be useful for our USGS R users.   Our Python users are all set, but it would be great to give the R guys this additional love.

[2016-06-21 23:20] stevenengler commented on #240
This is related to the issue conda/conda#2800. When exporting an environment, it saves it as `channel::package`, but then is unable to parse it when loading the environment yaml.

[2016-06-24 14:59] ndclt opened #256 "Error with conda-env 2.5.1?"
After a conda update from conda 4.0.9 to 4.1.3, conda-env has been update from 2.3.2-> 2.5.1.
When I activate a virtual env with
`activate test_conda_env `
I get an error which I didn't get with conda env 2.3.2.

    prepending D:\\Appl_perso\\Anaconda64\\envs\\test_conda_env and
    D:\\Appl_perso\\Anaconda64\\envs\\test_conda_env\\Library\\mingw-w64\\bin and
    D:\\Appl_perso\\Anaconda64\\envs\

[2016-06-24 15:11] Korijn commented on #256
That is just an info message. Do you experience any other problems?

[2016-06-24 21:38] saketkc opened #257 "environment.yml ill-parsed with conda 4.1.3?"
[code]

It looks like 4.1.3. introduced putting [`channels' key](https://gist.github.com/saketkc/c43b6f2e6a90fa7bdbc8d0cbc3a43d6d#file-multiz-yml-L4) in `environment.yml`, besides appending the channel name for the package in `dependencies'. E.g. [`bioconda::ucsc-chainantirepeat=332=0`](https://gist.github.com/saketkc/c43b6f2e6a90fa7bdbc8d0cbc3a43d6d#file-multiz-yml-L56)

Here is my [environment.y

[2016-06-24 23:27] saketkc commented on #257
cc @kalefranz

[2016-06-27 05:41] ndclt commented on #256
Thanks for the answer.
No any other problems,the env works like usual but the message is managed by [https://github.com/xonsh/xonsh](xonsh) as an error.

[2016-06-27 05:41] #256 closed

[2016-06-28 19:36] mwiebe opened #258 "conda-env installs multiple versions of the same package simultaneously"
Here's a full reproduction from scratch. At the end, see that both Python 3.5.0 and 3.5.1 are installed in the environment.

[code]

Where this breaks horribly is then when you try to do something further with it. E.g. if I install ply into this environment, it removes the older python:

[code]

And now the environment has Python 3.5.1 installed, but its files are deleted, so there is no python.ex

[2016-06-29 17:11] JuantLB opened #259 "unable to create a new environment"
An unexpected error has occurred, please consider sending the following traceback to the conda GitHub issue tracker at: https://github.com/conda/conda/issues Include the output of the command 'conda info' in your report. Traceback (most recent call last): File "C:\Users\mm\Anaconda3\lib\site-packages\conda\cli\main.py", line 130, in args_func exit_code = args.func(args, p) File "C:\Users\mm\Anacon

[2016-07-06 16:53] dharhas commented on #254
bump. I'm seeing this too. The -n/--name is no longer doing anything.

[2016-07-06 17:32] srossross opened #260 "Conda env name constraint is too strict"
Even tho I am naming the env a different name it can not be created.
[code]

[2016-07-08 21:46] nehalecky commented on #254
bump, same issue. Any workarounds in the interim?

[2016-07-08 21:56] nehalecky commented on #254
FWIW, I can get around this by:

[code]

[2016-07-11 17:32] jseabold commented on #257
Does conda env work with conda 4.1.6 right now? I'm also running into this.

[code]

[code]

[2016-07-11 17:47] jseabold commented on #254
What version of conda are you using for this workaround? What version of conda created the environment.yml file?

[2016-07-11 18:25] nehalecky commented on #254
@jseabold, the `environment.yml` isn't create by conda, it's crafted by hand. :)

Here's what it looks like!
[code]

Version info, below:

[code]

HTH, let me know if you need any other info! Thanks!

[2016-07-11 21:16] jseabold commented on #257
@saketkc Do you have custom channels in your `.condarc`? My errors come from parsing errors in the environment.yml created with custom channels.

[2016-07-11 21:27] jseabold commented on #257
However Environment is dealing with custom channels appears to be outputting malformed yaml.

[2016-07-11 21:55] jseabold commented on #257
Maybe this is intentional, but `conda.config.get_rc_urls()` returns a `ruamel_yaml.comments.CommentedSeq` type which looks like a list but it ends up looking really odd when dumped using `yaml.dump`.

[2016-07-11 22:53] jseabold commented on #254
`conda env create -n name` ignores name. `conda create -n name` does not ignore name but runs into a parsing error in the `environment.yml` around the name key. I'm not sure I understand the connection between these two things. Would be great if someone could test if #244 introduced this. I don't have a dev setup for doing bisects for conda env.

[2016-07-11 22:55] jseabold commented on #254
Ah, I guess it couldn't have introduced this because it's not released yet.

[2016-07-11 23:29] jseabold commented on #254
Working off #261. This line in `main_create.py` overwrites the user given name because we're not also specifying a prefix, apparently.

[code]

[2016-07-12 15:29] jseabold commented on #257
AFAICT, even using ruamel_yaml you can't round-trip files exported by conda env in the presence of non-default channels

[code]

AFAICT this is the same issue in https://github.com/conda/conda/issues/2800

[2016-07-13 14:10] #257 closed

[2016-07-13 14:10] #254 closed

[2016-07-13 23:55] nehalecky commented on #254
Awsome, is there a unit test to review so I can ensure that I have proper syntax for overriding name via cl arg?

[2016-07-14 00:24] jseabold commented on #254
#262 has a smoke test only.

[2016-07-15 05:55] jerowe commented on #254
Hi @jseabold, I only just got a chance to look at this. Thanks for fixing it, and sorry about the broken functionality!

[2016-07-15 18:37] jerowe opened #263 "Feature Request - Version Number for environment.yml"
I'm wondering if it would be possible to add a version key to environment.yml. I see when a version is upload using binstar a version number is created with the current datetime, but I'm wondering about a user specifying a version.

[code]

[code]

Also, if I'm updating from a remote environment I'd like to be able to update again a specific version.

[code]

Thanks for the great project!

[2016-07-18 19:56] jseabold opened #264 "Version not bumped in setup.py"
Am trying to debug why my upgraded version doesn't seem to work and whether it's a local issue. Took me a while to see that 2.5.0alpha is the version in setup.py and that's why it installs there.

[2016-07-19 16:55] groutr opened #265 "Removal of args_func in conda breaks conda-env"
[code]
`args_func` seems to have disappeared from conda/cli/main.py within the last month.

[2016-07-20 19:38] groutr commented on #265
cc @kalefranz

[2016-08-11 15:32] darribas commented on #137
I think I'm getting the same issue. Is there a way to include in the `pip` section of the `environment.yml` file that you want to force `--upgrade` over what's been installed using `conda`?

[2016-08-11 20:14] ChrisBarker-NOAA opened #267 "way too much pip stuff in an export!"
conda version 4.1.11
conda-env version 2.5.2

When I do a conda `env export` of a complex environment, I get WAY t omuch stuff in teh pip stanza:

* The stuff that was actually pip installed -- good.

* seemingly every python package that was installed by conda (also listed under conda)

* packages that were installed by `setup.py develop` -- that's a problem, becasuse it is a hard-coded path whic

[2016-08-14 15:53] ijstokes opened #268 "`conda env upload` fails when using conda-canary::conda-env=4.2"
I think this trace shows the problem.  Downgrading to 4.1 (also shown) allowed `conda env upload` to succeed.

[code]

[2016-08-16 16:44] HugoTian commented on #268
Could you give me the environment.yml ?

I cannot reproduce the error, and the trace back info is confusing

Thanks

[2016-08-19 15:14] eco32i opened #269 "Can't reproduce environment from .yml file"
I am trying to create an environment from this `.yml` file: https://gist.github.com/eco32i/206d2f53ff5f9412b2c7a971129ac540

But for some reason it fails to install packages from `bioconda` channel:

[code]

This fails on both MacOSX and Ubuntu 16.04. The file was created by running  `conda env export > environment.yml` from a working `conda` environment.

The output of `conda info --all`:

[code]

[2016-08-24 10:30] jerowe opened #270 "Request - Versioning of Conda Envs"
Hello,

I would like to be able to version environments the way I do packages.

When I use anaconda to upload a conda env it creates a version number from the current datetime. Instead I would like something 1.0, 1.1, etc.

With uploading the relevant code is in 'conda_env.utils.uploader', and there is a function version. Currently this returns the relevant datetime. Instead I would like it to loo

[2016-08-24 10:38] jerowe commented on #270
I can, btw, do this.

[code]

So searching based on version is supported by anaconda.

[2016-08-24 10:59] jerowe commented on #270
Aaah, so I think the relevant code is in conda_env.env, the class Environment needs a version attribute added. The version in the uploader will have to be changed to match this.

[2016-08-25 09:12] winni-genp commented on #138
+1 for a Ruby `bundler` inspired workflow for managing primary and secondary dependencies in separate files.

`conda env create` or `conda env update` should find the smallest number of changes that need to be made to a `requirements.txt` file (the equivalent of Gemfile.lock in Ruby) to satisfy the primary requirements in an `environment.yml` file (the equivalent of Gemfile in Ruby).  Those change

[2016-08-28 09:38] jerowe opened #273 "Add a summary field (spec?) to environment.yml"
Hello,

I'd like to add a summary field to the environment.yml.

[code]

Yes, no, maybe so?

[2016-08-30 07:34] oyse commented on #269
This looks like exactly the same problem I am having.

conda-env does not appear to be working correctly with the channel prefix "bioconda" or in my case and internal channel on our corporate server.

The problem seems to be in how it matches packages against the name.

I made some changes to resolve.py in the conda package to get it to work, but this needs a proper fix. I have uploaded the change

[2016-09-01 15:57] kalefranz commented on #269
This issue was moved to conda/conda#3369

[2016-09-01 15:57] #269 closed